// /** GLOBAL - BASE -----------------------------------------**/
* {
    box-sizing: border-box;
}


body {
    font-family: $mainFont;
    font-size: 16px;
    color: $mainTextColor;
    line-height: 1.8em;
}

strong {
    font-family: $mainFontStrong;
}




h1 {
    font-family: ropa_soft_proextrabold_italic;
    font-size: 42px;
    color: $purple;
    line-height: 1.1;
}

h2 {
    font-family: ropa_soft_proextrabold_italic;
    font-size: 32px;
    color: $purple;
    line-height: 1.1;
}


h3 {
    font-family: ropa_soft_proextrabold_italic;
    font-size: 28px;
    color: #2e2b7e;
    line-height: 1.1;
}

h4 {
    font-family: ropa_soft_proextrabold_italic;
    font-size: 22px;
    color: $purple;
    line-height: 1.1;
}


a {
    color: #333433;
    font-family: $mainFontStrong;
}



.block img {
    max-width: 100%
}


.container.container-vp-md {
    padding-top: 15px;
    padding-bottom: 15px;
}

hr {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    border-top: #e0e0e0 1px solid;
}

#pagecontent.pagecontent-fullwidth {
}

@media only screen and (min-width: 768px) {
    .container.container-vp-md {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    body {
        font-size: 18px;
        line-height: 1.6em;
    }
    h1 {
        font-size: 52px;
    }
}


