/** GLOBAL - FONTS -----------------------------------------**/



@font-face {
    font-family: museo_sans900;
    src: url(/css/fonts/museosans900-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/museosans900-webfont.woff2) format('woff2'), url(/css/fonts/museosans900-webfont.woff) format('woff'), url(/css/fonts/museosans900-webfont.ttf) format('truetype'), url(/css/fonts/museosans900-webfont.svg#museosans900) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: museo_sans700;
    src: url(/css/fonts/museosans700-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/museosans700-webfont.woff2) format('woff2'), url(/css/fonts/museosans700-webfont.woff) format('woff'), url(/css/fonts/museosans700-webfont.ttf) format('truetype'), url(/css/fonts/museosans700-webfont.svg#museosans700) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: museo_sans500;
    src: url(/css/fonts/museosans500-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/museosans500-webfont.woff2) format('woff2'), url(/css/fonts/museosans500-webfont.woff) format('woff'), url(/css/fonts/museosans500-webfont.ttf) format('truetype'), url(/css/fonts/museosans500-webfont.svg#museosans500) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: museo_sans300;
    src: url(/css/fonts/museosans300-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/museosans300-webfont.woff2) format('woff2'), url(/css/fonts/museosans300-webfont.woff) format('woff'), url(/css/fonts/museosans300-webfont.ttf) format('truetype'), url(/css/fonts/museosans300-webfont.svg#museo_sans300) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: museo_sans100;
    src: url(/css/fonts/museosans-100-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/museosans-100-webfont.woff2) format('woff2'), url(/css/fonts/museosans-100-webfont.woff) format('woff'), url(/css/fonts/museosans-100-webfont.ttf) format('truetype'), url(/css/fonts/museosans-100-webfont.svg#museo_sans100) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ropa_soft_proextrabold_italic;
    src: url(/css/fonts/ropasoftpro-extrabolditalic-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/ropasoftpro-extrabolditalic-webfont.woff2) format('woff2'), url(/css/fonts/ropasoftpro-extrabolditalic-webfont.woff) format('woff'), url(/css/fonts/ropasoftpro-extrabolditalic-webfont.svg#ropa_soft_proextrabold_italic) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ropa_soft_proregular;
    src: url(/css/fonts/ropasoftpro-regular-webfont.eot?#iefix) format('embedded-opentype'), url(/css/fonts/ropasoftpro-regular-webfont.woff2) format('woff2'), url(/css/fonts/ropasoftpro-regular-webfont.woff) format('woff'), url(/css/fonts/ropasoftpro-regular-webfont.svg#ropa_soft_proregular) format('svg');
    font-weight: 400;
    font-style: normal
}
// @import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,700');


$mainFont: museo_sans100, sans-serif;
$mainFontMedium: museo_sans300, sans-serif;
$mainFontStrong: museo_sans500, sans-serif;
$titleFont: ropa_soft_proextrabold_italic, sans-serif;
// $iconFont: 'kcicons';


