/** GLOBAL - VARIABLES -----------------------------------------**/


//COLORS


$mainTextColor: #212121;

$purple: #351c75;

$white: #fff;

$salmon: #e38564;

// $white: #fff; //basiskleur 1 and achtergrond website

// $grey: #888; // highlight text-1

// $blue: #29c1c4; // highlight text-2

// $yellow: #fde93c;

// $blueGrey: #5c6d71;

// $textColor: #555;

// $green:  #007b00;

$greyDark: #545454;
$greyLight: #dcdbdc; //borders
$greyLighter: #e0e0e0; //
$greyLightest: #f8fbfc; //background visual footer



//FILTERS


//TRANSITIONS


//SIZES


