/** LEGACY - MASTER.LESS.CSS *****************************/



.hide {
  display: none;
}
#headermenu {
  display: none!important;
}


.transition-ease {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.navbar:after .container:after,
.cols:after,
topbar:after,
middlebar:after,
.topbar-left:after,
.topbar-right:after,
topbar-menu:after {
  clear: both;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul {
  padding: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857143;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before {
  display: table;
  content: " ";
}
ul {
  list-style: none;
}
a {
  color: #787878;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #787878;
}
a:active {
  color: #787878;
}
a:focus {
  color: #787878;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #45adba;
  margin-bottom: 15px;
}
h1 {
  font-size: 26px;
  color: #666666;
  margin-top: 23px;
  margin-bottom: 11.5px;
}
h2 {
  font-size: 22px;
  color: inherit;
}
h3 {
  font-size: 20px;
  color: inherit;
}
h4 {
  font-size: 18px;
  color: inherit;
}
h5 {
  font-size: 18px;
  color: inherit;
}
h6 {
  font-size: 18px;
  color: inherit;
}
.content-wrapper {
  position: relative;
}

img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-default {
  color: #cccccc;
}
.text-primary {
  color: #6fd4ce;
}
.text-success {
  color: #f5871e;
}
.text-warning {
  color: #f6c61e;
}
.text-danger {
  color: #fa9485;
}
.text-info {
  color: #f5871e;
}
.text-xs {
  font-size: 0.6em!important;
}
.text-xsm {
  font-size: 0.8em!important;
}
.text-sm {
  font-size: 1.0em!important;
}
.text-md {
  font-size: 1.2em!important;
}
.text-lg {
  font-size: 1.4em!important;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
}
.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0px;
}
.custom-checkbox > .box > .tick {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;
}
.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox > input:active + .box {
  border-color: #aaa;
  background-color: #ddd;
}
.custom-checkbox > input:checked + .box > .tick {
  display: block;
}


.icon {
  font-family: 'kcicons';
  font-style: normal!important;
}
/* sizes */
.icon-xs {
  font-size: 0.5em!important;
}
.icon-x1 {
  font-size: 0.8em!important;
}
.icon-x2 {
  font-size: 2em!important;
}
.icon-x3 {
  font-size: 4em!important;
}
/* icons */
.icon-user:after {
  content: 'a';
}
.icon-phone:after {
  content: 'b';
}
.icon-th:after {
  content: 'c';
}
.icon-mail:after {
  content: 'd';
}
.icon-chevron-down:after {
  content: 'e';
}
.icon-chevron-right:after {
  content: 'f';
}
.icon-camera:after {
  content: 'g';
}
.icon-heart:after {
  content: 'h';
}
.icon-arrow-left:after {
  content: 'i';
}
.icon-arrow-right:after {
  content: 'j';
}
.icon-info:after {
  content: 'k';
}
.icon-basket:after {
  content: 'm';
}
.icon-exit-topright:after {
  content: 'p';
}
.icon-edit-pencil:after {
  content: 'r';
}
.icon-add:after {
  content: 'q';
}
.icon-search:after {
  content: 's';
}
.icon-favorite-heart:after {
  content: 'u';
}
.icon-unfavorite-heart:after {
  content: 't';
}
.icon-trash:after {
  content: 'w';
}

.navbar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}
.navbar .container {
  overflow: visible;
}
.navbar .collapse {
  background: #FFF;
}
.navbar .topbar {
  position: relative;
  z-index: 9999;
  padding: 0px;
}
.navbar .topbar .topbar-menu-left {
  position: absolute;
  display: none;
}
.navbar .topbar .topbar-menu-left li {
  padding: 0 5px;
  margin: 10px 0;
}
.navbar .topbar .topbar-menu-left a {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
  margin: 5px 0;
  font-size: 12px;
  height: 100%;
  color: #989696;
}
.navbar .topbar .topbar-menu-left a:hover {
  color: #989696;
}
.navbar .topbar .topbar-menu-left a:active {
  color: #989696;
}
.navbar .topbar .topbar-menu-left a:focus {
  color: #989696;
}
.navbar .topbar .topbar-menu-right {
  position: absolute;
  padding-right: 10px;
  height: 100%;
  top: 0;
  right: 0;
}
.navbar .topbar .topbar-menu-right > ul > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
}
.navbar .topbar .topbar-menu-right > ul > li a {
  display: block;
  height: 100%;
  font-size: 12px;
  padding: 10px 5px;
  margin: 0;
  border: none;
  color: #979797;
  border: 1px solid transparent;
}
.navbar .topbar .topbar-menu-right > ul > li a:hover {
  color: #989696;
}
.navbar .topbar .topbar-menu-right > ul > li a:active {
  color: #989696;
}
.navbar .topbar .topbar-menu-right > ul > li a:focus {
  color: #989696;
}
.navbar .topbar .topbar-menu-right > ul > li a i {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding-bottom: 2px;
  line-height: 1em;
  margin-top: 0px;
}
.navbar .topbar .topbar-menu-right > ul > li i {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
  padding-left: 0;
  padding-right: 0;
}
.navbar .topbar .dropdown {
  position: relative;
}
.navbar .topbar .dropdown:hover {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  background-color: #fff;
  z-index: 999;
}
.navbar .topbar .dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
}
.navbar .topbar .dropdown:hover > a {
  background-color: #fff;
}
.navbar .topbar .dropdown > a {
  position: relative;
  display: block;
  background-color: #fff;
  z-index: 33;
}
.navbar .topbar .dropdown > ul {
  position: fixed;
  visibility: hidden;
  width: 100%;
  opacity: 1;
  right: 0;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
}
.navbar .topbar .dropdown > ul > li {
  display: block;
  position: relative;
}
.navbar .topbar .dropdown > ul > li:hover {
  background-color: #6e7277;
}
.navbar .topbar .dropdown > ul > li:hover a {
  color: #fff;
}
.navbar .topbar .dropdown > ul > li > a {
  display: block;
  padding: 5px 10px;
  text-align: left;
  color: #6e7277;
  font-size: 14px;
}

a.logo {
  position: relative;
  display: block;
  color: #603ce8;
  line-height: 70px;
  font-size: 45px;
}
a.logo img {
  position: relative;
}
a.logo:hover {
  color: #603ce8;
}
a.logo:active {
  color: #603ce8;
}
a.logo:focus {
  color: #603ce8;
}
@media only screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    height: 90px;
    background-color: #ffffff;
  }
  .navbar .collapse {
    position: fixed;
    display: none;
    width: 100%;
    overflow-y: scroll;
    top: 90px;
    left: 0;
    bottom: 0;
  }
  .navbar .topbar .topbar-menu-left {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul > li a > span {
    display: none;
  }
  .navbar .topbar .dropdown > a {
    background-color: transparent;
  }

}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar {
    position: relative;
    background-color: #fff;
    height: 125px;
  }
  .navbar .topbar {
    height: 50px;
  }
  // .navbar .middlebar {
  //   height: 75px;
  // }
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar .collapse {
    left: auto!important;
    display: block!important;
  }
  .navbar .topbar .topbar-menu-left {
    display: block;
  }
  .navbar .topbar .dropdown > ul {
    position: absolute;
    width: 250px;
    left: auto;
  }

}
.address-list input[type="text"] {
  border-radius: 0px !important;
}
.address-list > ul {
  max-height: 250px;
  padding: 0;
  margin: 0 0 15px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.address-list > ul > li {
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.address-list > ul > li:last-child {
  border-bottom: none;
}
.address-list > ul > li a {
  display: block;
  padding: 0;
}
.address-list > ul > li > button {
  margin-bottom: 15px;
}
.field-horizontal .field-group {
  margin-right: -15px;
  margin-left: -15px;
}
.field-horizontal .field-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}
.field-group {
  margin-bottom: 15px;
}
.field-group .field-input-group {
  margin-bottom: 0;
}
textarea.field-input {
  height: auto;
}
.field-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
  width: 100%;
}
.field-input-group .field-input-group-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
}
.field-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.field-input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.field-input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
select.field-input {
  background-color: #ffecdb;
}
input[type='text'].error {
  border-color: #8a6d3b;
}
input[type='text'].error:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
label.error {
  font-style: italic;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
// .button {
//   display: inline-block;
//   padding: 6px 12px;
//   margin-bottom: 5px;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1.42857143;
//   text-align: center;
//   white-space: initial;
//   vertical-align: middle;
//   -ms-touch-action: manipulation;
//   touch-action: manipulation;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-image: none;
//   border: 1px solid transparent;
//   border-radius: 100px;
//   overflow: hidden;
// }
// .button i {
//   display: inline-block;
//   vertical-align: middle;
// }
// .button-group {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }
// .button-group .button {
//   position: relative;
//   float: left;
//   border-radius: 0;
// }
// .button-group .button:first-child {
//   margin-left: 0;
//   border-top-left-radius: 100px;
//   border-bottom-left-radius: 100px;
// }
// .button-group .button:last-child {
//   margin-left: 0;
//   border-top-right-radius: 100px;
//   border-bottom-right-radius: 100px;
// }
// .button-group-vertical {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
// }
// .button-group-vertical > .button {
//   display: block;
//   float: none;
//   width: 100%;
//   max-width: 100%;
//   border-radius: 0!important;
// }
// .button-group-justified {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
//   border-collapse: separate;
// }
// .button-group-justified > .button {
//   display: table-cell;
//   float: none;
//   width: 1%;
// }
// .button-xs {
//   padding: 1px 5px;
//   font-size: 12px;
//   line-height: 1.5;
// }
// .button-sm {
//   padding: 5px 10px;
//   font-size: 12px;
//   line-height: 1.5;
// }
// .button-lg {
//   padding: 10px 16px;
//   font-size: 18px;
//   line-height: 1.3333333;
// }
// .button-xlg {
//   padding: 12px 18px;
//   font-size: 26px;
//   line-height: 1.3333333;
// }
// .button-link {
//   display: block;
//   color: #F9861C;
//   border-color: transparent;
//   background-color: transparent;
// }
// .button-link:hover,
// .button-link:active,
// .button-link:focus {
//   border-color: transparent;
// }
// .button-default {
//   color: #333333;
//   background-color: #ffffff;
//   border-color: #cccccc;
// }
// .button-default:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-success {
//   color: #ffffff;
//   background-color: #f5871e;
//   border-color: #f6c61e;
// }
// .button-success:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-warning {
//   color: #ffffff;
//   background-color: #f6c61e;
//   border-color: #fa9485;
// }
// .button-warning:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-danger {
//   color: #ffffff;
//   background-color: #fa9485;
//   border-color: #fa9485;
// }
// .button-danger:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-info {
//   color: #ffffff;
//   background-color: #f5871e;
//   border-color: #f6871f;
// }
// .button-info:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
// .button-primary {
//   color: #ffffff;
//   background-color: #6fd4ce;
//   border-color: #6fd4ce;
// }
// .button-primary:hover {
//   color: #555555;
//   background-color: #e6e6e6;
//   border-color: #adadad;
// }
/* BUTTON BLOCKS */
.button-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 110px;
  background-color: transparent;
}
.button-block a.active {
  background-color: #ffddbf;
}
.button-block > a {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffecdb;
  padding: 0 20px;
  text-align: center;
}
.button-block > a:hover {
  background-color: #ffddbf;
}
.button-block > a:active {
  background-color: #ffddbf;
}
.button-block > a:focus {
  background-color: #ffddbf;
}
.button-block > a .button-block-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.button-block > a .button-block-title {
  display: block;
  font-size: 18px;
  margin-top: 0;
  color: #f68620;
  margin-bottom: 0;
}
.button-block > a .button-block-title i {
  display: inline-block;
  vertical-align: middle;
}
.button-block > a .button-block-text {
  display: block;
  font-size: 0.8em;
  color: #666668;
}
.button-block-img {
  height: 180px;
  background-color: transparent;
}
.button-block-img > a {
  background-color: transparent;
  max-height: 210px;
}
.button-block-img > a:hover {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:active {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:focus {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -99;
}
.button-block-img > a .button-block-title {
  display: block;
  color: #ffffff;
  font-size: 1.4em;
}
.button-block-img > a .button-block-text {
  display: block;
  font-size: 1.0em;
  color: #ffffff;
}
/* END BUTTON BLOCKS */
.card-block {
  position: relative;
  display: block;
  border: 1px solid #e4e8e8;
  background-color: #fdf3e9;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}
.card-block img {
  height: 150px;
}
.card-block:hover > img {
  opacity: 0.8;
}
.card-block:hover .card-block-title,
.card-block:hover .card-block-footer {
  opacity: 1;
}
.card-block .card-block-title,
.card-block .card-block-footer {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.card-block .card-block-title {
  color: #f68620;
  font-size: 1.2em;
  font-weight: bold;
}
.card-block .card-block-footer {
  color: #f68620;
  font-size: 15px;
  margin-top: 10px;
}
/* LIST-VERTICAL */
.list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.list .list-toggle .list-toggle-text {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}
.list .list-toggle .list-toggle-text .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.5em!important;
}
.list-vertical li.active > a {
  color: #575757;
}
.list-vertical li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  color: #db965b;
}
.list-vertical li a:hover {
  color: #575757;
}
.list-vertical li a:active {
  color: #575757;
}
.list-vertical li a:focus {
  color: #575757;
}
.list-vertical li ul {
  margin: 0;
  border-left: 2px solid #fbc095;
  padding-left: 15px;
  margin-left: 5px;
}
.list-vertical li ul li a {
  color: #db965b;
}
.list-vertical li ul li a:hover {
  color: #575757;
}
.list-vertical li ul li a:active {
  color: #575757;
}
.list-vertical li ul li a:focus {
  color: #575757;
}
/* END LIST-VERTICAL */
.list-decimal {
  list-style-type: decimal;
}
/* BREADCRUMB */
.breadcrumb {
  padding: 8px 5px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb li:after {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0 10px;
  font-family: 'kcicons';
  content: 'j';
  font-size: 0.5em;
}
.breadcrumb li:last-child:after,
.breadcrumb li:only-child :after {
  content: '';
}
.breadcrumb li a.active {
  color: #ffddbf;
}
.breadcrumb li a {
  color: inherit;
}
.breadcrumb li a:hover {
  color: #ffddbf;
}
.breadcrumb li a:active {
  color: #ffddbf;
}
.breadcrumb li a:focus {
  color: #ffddbf;
}
/* END BREADCRUMB */
.accordion {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #dfe5e5;
  background-color: transparent;
  margin-bottom: 10px;
}
.accordion > .active {
  color: #575757 !important;
}
.accordion .show {
  display: block!important;
}
.accordion > a {
  display: block;
  vertical-align: middle;
  background-color: transparent;
  padding: 5px 5px;
  color: #db965b;
}
.accordion > a > i {
  float: right;
  font-size: 12px;
}
.accordion .accordion-body {
  display: none;
  padding: 5px;
}
.accordion .accordion-body ul {
  margin-bottom: 0;
  margin-top: 0;
}
.accordion .accordion-body ul li a {
  padding: 5px 0px 5px 5px;
}
.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e4e8e8;
  overflow: hidden;
}
.box .box-body {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
}
.box .box-footer {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
  border-top: 1px solid #e4e8e8;
  clear: both;
}
.box-default .box-body {
  background-color: #ffffff;
}
.box-default .box-footer {
  background-color: #ffffff;
}
.box-primary .box-body {
  background-color: #ffffff;
}
.box-primary .box-footer {
  background-color: #f2ecec;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  background-color: #fbf7f8;
  color: inherit;
}
.table > thead > tr > th,
.table tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table-unstyled {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}
.table-unstyled > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: none;
  background-color: inherit;
  color: inherit;
}
.table-unstyled > thead > tr > th,
.table-unstyled tbody > tr > th,
.table-unstyled > tfoot > tr > th,
.table-unstyled > thead > tr > td,
.table-unstyled > tbody > tr > td,
.table-unstyled > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
}

.carousel {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: transparent;
}
.carousel:hover .carousel-left,
.carousel:hover .carousel-right {
  visibility: visible;
  opacity: 1;
}
.carousel .carousel-middle > img {
  width: 100%;
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-left,
.carousel .carousel-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 220;
}
.carousel .carousel-left > a,
.carousel .carousel-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.carousel .carousel-left > a i,
.carousel .carousel-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.carousel a {
  display: inline-block;
  vertical-align: middle;
}
ul.pills {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}
ul.pills > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #cccccc;
  z-index: 1;
}
ul.pills > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: #e0b592;
  background-color: #ffeace;
}
ul.pills > li > a:hover {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:active {
  background-color: #feddbd;
  color: inherit;
}
ul.pills > li > a:focus {
  background-color: #feddbd;
  color: inherit;
}

.order-flow {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  font-size: 11px;
}
.order-flow a {
  display: block;
}
.order-flow .order-flow-details {
  display: inline-block;
  vertical-align: middle;
}
.order-flow .order-flow-image {
  max-height: 100px;
}
.order-flow .order-flow-details-body {
  padding: 15px;
  background-color: #fcfcfc;
  line-height: 15px;
}
.order-flow .order-flow-details-body .order-flow-details-status {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
.order-flow .order-flow-details-body strong {
  display: block;
  margin-top: 10px;
}
@media (min-width: 320px) {
  .order-flow .order-flow-info strong {
    float: right;
  }
}
@media (min-width: 992px) {
  .order-flow-info strong {
    float: none !important;
  }
  .order-flow .md-1 {
    width: 14.285714285714285714285714285714%;
  }
}
#body_design {
  /*#choose_preview {
        font-size: 28px;
        border-radius: 10px;
        padding: 4px 15px 4px 32px;
        text-align: left;

        .icon-arrow-right {
            position: absolute;
            margin-left: 15px;
            font-size: 14px;
            top: 0;

            &:after {
                content: ">>";
                font-family: 'brain_flower_euro' !important;
                font-size: 36px;
                letter-spacing: -7px;
            }
        }
    }*/
}
#body_design .icon-arrow-right {
  margin-top: 1px;
}
#body_design .envgroot {
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 45px;
  top: 65px;
  width: 220px;
  height: 145px;
  background-size: 100% 100% !important;
}
#body_design .rich-snippets {
  font-size: 14px;
}
#body_design span.envview span.env {
  background: #eeeded url("/img/envtransklein.png") no-repeat scroll 0 0;
  background-size: 100% 100%;
  width: 115px;
  height: 95px;
  display: inline-block;
  position: absolute;
  right: -25px;
  top: 49px;
  z-index: 0;
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
#body_design #envelope {
  position: static !important;
  width: auto !important;
  margin-bottom: 20px;
}
#body_design #envelope > span {
  font-size: 15px;
  display: block;
}
#body_design #envelope_select-button {
  width: 250px !important;
}
#body_design #envelope_select-button .ui-selectmenu-text {
  text-indent: 38px !important;
  padding: 7px;
  height: auto !important;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
#body_design .box-primary {
  margin-bottom: 20px;
}
#body_design .box-primary .icon-favorite-heart,
#body_design .box-primary .proefDrukPrijs {
  color: #da7d8f;
  font-size: 14px;
  margin-bottom: 0;
}
#body_design .box-primary .icon-favorite-heart {
  font-size: 18px;
  vertical-align: middle;
}
#body_design .accordion {
  font-size: 14px;
  line-height: 22px;
  border-top: 0;
  border-bottom: 1px solid #dedbd4;
  margin: 0;
}
#body_design .accordion.first {
  border-top: 1px solid #dedbd4;
}
#body_design .accordion > a {
  text-transform: uppercase;
  color: #da7d8f;
  font-style: normal;
}
#body_design .accordion > a > i {
  display: none;
}
#body_design .accordion .accordion-body div {
  zoom: 1;
}
#body_design .accordion .accordion-body div:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#body_design .accordion .accordion-body div span {
  display: inline-block;
  width: 150px;
  float: left;
  text-transform: uppercase;
}
#body_design .accordion .prijsOf,
#body_design .accordion .prijsOf th,
#body_design .accordion .prijsOf td {
  border: 0;
  padding: 0;
}
#body_design .accordion .prijsOf td.sizeTd {
  padding-right: 25px;
}
#body_design .accordion .prijsOf .priceTd span {
  display: inline-block;
  width: auto;
  float: none;
  vertical-align: top;
  text-transform: lowercase !important;
}
#body_design .accordion td.priceInfoTd {
  position: relative;
}
#body_design .accordion td.priceInfoTd:hover div.priceHover {
  display: block;
}
#body_design .accordion td.priceInfoTd:before {
  text-transform: none;
  font-family: "kcicons";
  content: "k";
  cursor: pointer;
  padding-left: 5px;
  font-size: 16px;
  vertical-align: -3px;
  color: #da7d8f;
}
#body_design .accordion td.priceInfoTd div.priceHover {
  display: none;
  z-index: 500;
  padding: 15px;
  background: #FFF none repeat scroll 0% 0%;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 270px;
  box-shadow: 0 0 5px 0 #575757;
}
#body_design .accordion td.priceInfoTd table {
  width: 100%;
}
#body_design .accordion td.priceInfoTd table,
#body_design .accordion td.priceInfoTd table th,
#body_design .accordion td.priceInfoTd table td {
  border: 0;
}
#body_design .prijsTab {
  line-height: 27px;
}
#body_design .prijsTab .zenv {
  clear: both;
}
.swiper-slide img {
  z-index: 900;
}
.swiper-controls span {
  cursor: pointer;
  margin-top: 20px;
}
.swiper-controls span.envview img {
  left: 0;
  position: relative;
  top: 0;
  z-index: 1;
}
#card_previews_horizontal {
  margin-top: 20px;
}
#card_previews_horizontal #inner {
  border-radius: 10px;
  padding: 0 45px;
}
.cardrail {
  border-top: 1px solid #f0e6e6;
  margin: 50px 0 50px 0;
}
.cardrail #prev_page,
.cardrail #next_page {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  color: #fff;
  background-color: #da7d8f;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-family: 'kcicons';
  font-size: 9px;
}
.cardrail #prev_page:hover,
.cardrail #next_page:hover {
  background-color: #beb0a7;
}
.cardrail #prev_page:after,
.cardrail #next_page:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  width: auto;
  height: auto;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 1;
}
.cardrail #next_page {
  right: 15px;
}
.cardrail #next_page:after {
  content: 'j';
}
.cardrail #prev_page {
  left: 15px;
}
.cardrail #prev_page:after {
  content: 'i';
}
#body_design #card_previews_horizontal {
  margin-top: 0;
  width: auto;
  height: 230px;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #000000 15%, #000000 85%, rgba(0, 0, 0, 0) 100%);
  mask: url(https://salut.nl/css/design_mask.svg#mask);
  padding-top: 30px;
}
.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #dedbd4;
  overflow: hidden;
}
.box .box-body {
  background-color: #fff;
  margin: 0;
  padding: 20px 20px 7px 20px;
}
.box .box-footer {
  background-color: #faf4f4;
  margin: 0;
  padding: 13px 20px 3px 20px;
  clear: both;
}
.box #choose_preview {
  margin: 8px auto;
  width: 216px;
}
.box .save_user_design,
.box p {
  font-size: 14px;
  margin-bottom: 0px;
}
.box h1 {
  font-size: 22px;
  font-style: italic;
  text-transform: none;
  text-align: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 480px) {
  .box li:nth-child(odd) {
    width: 100%;
  }
  .box li:nth-child(even) {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .box li:nth-child(odd) {
    width: 31%;
  }
  .box li:nth-child(even) {
    width: 68%;
  }
}
@media screen and (min-width: 768px) {
  .box li:nth-child(odd) {
    width: 100%;
  }
  .box li:nth-child(even) {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .box li:nth-child(odd) {
    width: 31%;
  }
  .box li:nth-child(even) {
    width: 68%;
  }
}
.box ul li {
  font-size: 13px;
  display: inline-block;
}
.box ul li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #da7e8e;
  margin-right: 8px !important;
}
.box-default .box-body {
  background-color: #fff;
}
.box-default .box-footer {
  background-color: #faf4f4;
}
.box-primary .box-body {
  background-color: #fff;
}
.box-primary .box-footer {
  background-color: #faf4f4;
}
/*@media screen and (min-width: @sm) {
    #card_previews_horizontal #inner {
        padding: 13px 100px 7px;
    }

    .cardrail #next_page,
    .cardrail #prev_page {
        font-size: 80px;
        width: 70px;
    }

    .cardrail #next_page {
        right: 35px;
    }

    .cardrail #prev_page {
        left: 35px;
    }
}*/
#body_edit #nav_buttons {
  height: 74px;
}
#chooseside.double_portrait {
  bottom: -5px;
}
#chooseside .double_landscape_p1 {
  background: url(/img/gfx/new/icon_double_landscape_p1.png) no-repeat;
  height: 40px;
  width: 66px;
}
#chooseside .double_landscape_p2 {
  background: url(/img/gfx/new/icon_double_landscape_p3.png) no-repeat;
  height: 50px;
  width: 70px;
}
#chooseside .double_landscape_p3 {
  background: url(/img/gfx/new/icon_double_landscape_p2.png) no-repeat;
  height: 50px;
  width: 70px;
}
#chooseside .double_landscape_p4 {
  background: url(/img/gfx/new/icon_double_landscape_p4.png) no-repeat;
  height: 40px;
  width: 66px;
}
#chooseside .double_portrait_p1 {
  background-image: url(/img/gfx/new/icon_double_portrait_p1.png);
  width: 52px;
  height: 66px;
}
#chooseside .double_portrait_p2 {
  background-image: url(/img/gfx/new/icon_double_portrait_p2.png);
  width: 60px;
  height: 74px;
}
#chooseside .double_portrait_p3 {
  background-image: url(/img/gfx/new/icon_double_portrait_p3.png);
  width: 60px;
  height: 74px;
}
#chooseside .double_portrait_p4 {
  background-image: url(/img/gfx/new/icon_double_portrait_p4.png);
  width: 52px;
  height: 66px;
}
#chooseside .single_landscape_p1 {
  background: url(/img/gfx/new/icon_single_landscape_p1.png) no-repeat;
  height: 50px;
  width: 68px;
}
#chooseside label.selected .single_landscape_p1,
#chooseside label.selected .single_landscape_p2 {
  background-position: 0 0px;
}
#chooseside .single_landscape_p2 {
  background: url(/img/gfx/new/icon_single_landscape_p1.png) no-repeat;
  height: 50px;
  width: 68px;
}
#chooseside .single_square_p1,
#chooseside .single_square_p2 {
  background: url(/img/gfx/new/icon_single_square_p1.png) no-repeat;
  height: 52px;
  width: 47px;
}
#chooseside label.selected .single_square_p1,
#chooseside label.selected .single_square_p2 {
  background-position: 0 0px;
}
#chooseside .double_square_p1 {
  background: url(/img/gfx/new/icon_double_square_p1.png) no-repeat;
  width: 40px;
  height: 50px;
}
#chooseside .double_square_p2 {
  background: url(/img/gfx/new/icon_double_square_p2.png) no-repeat;
  width: 58px;
  height: 50px;
}
#chooseside .double_square_p3 {
  background: url(/img/gfx/new/icon_double_square_p3.png) no-repeat;
  width: 49px;
  height: 50px;
}
#chooseside .double_square_p4 {
  background: url(/img/gfx/new/icon_double_square_p4.png) no-repeat;
  width: 40px;
  height: 50px;
}
#chooseside.single_portrait {
  position: absolute;
  font-size: 0;
  left: 212px;
  bottom: -6px;
}
#chooseside .single_portrait_p1,
#chooseside .single_portrait_p2 {
  background-image: url(/img/gfx/new/icon_single_portrait_p1.png);
  width: 52px;
  height: 74px;
}
