/** LEGACY - CUSTOM.CSS *****************************/



#body_design .enlarge-card-modal-title {
    font-family: ropa_soft_proextrabold_italic, sans-serif;
    color: #2e2b7e;
    font-size: 34px;
}

#body_design .env-large.mintgroen {
    background-color: #c8e8e5;
    opacity: 1;
}

#body_design .envpreview span.env.mintgroen {
    background-color: #c8e8e5;
    opacity: 1;
}

#body_design .env-large.donkergroen {
    background-color: #276556;
    opacity: 1;
}

#body_design .envpreview span.env.donkergroen {
    background-color: #276556;
    opacity: 1;
}

#body_design .env-large.zachtblauw {
    background-color: #c5eae2;
    opacity: 1;
}

#body_design .envpreview span.env.zachtblauw {
    background-color: #c5eae2;
    opacity: 1;
}

#body_design .env-large.zachtgeel {
    background-color: #eeecb3;
    opacity: 1;
}

#body_design .envpreview span.env.zachtgeel {
    background-color: #eeecb3;
    opacity: 1;
}

.block .block-sub-title {
    font: 30px museo_sans100;
    font-weight: 100;
    margin-bottom: 30px;
    line-height: 36px;
}

#body_basket #nav_buttons .back-button {
    height: auto;
    margin: 10px;
}

#body_design .rich-snippets {
    font-size: 18px;
}

#body_edit .ui-helper-reset {
    font-size: 90%;
}

#body_edit .ui-helper-reset .ed-button {
    font-family: HelveticaNeue-Light, Arial narrow, sans-serif;
}

#body_edit .sp-preview-inner {
    padding-top: 2px;
}

#body_voorbeeld #side_buttons {
    margin-bottom: 95px;
}

#body_keuze #step_back,
#body_bestel_details #step_back,
#body_address_n #step_back {
    color: #beb0a7 !important;
}

#body_basket #basket_n td .button {
    color: #e18568 !important;
}

#body_bestel_details h2 {
    font-size: 14px !important;
}

#body_address_n td {
    font-size: 14px;
}

#body_address_n .button {
    background-color: #e18568;
}

.open_mobile_filter,
.open_mobile_filter.floater {
    background: #beb0a7;
}

.open_mobile_filter.floater {
    line-height: 1.1;
}









/*#body_basket tfoot tr:nth-last-child(3) {
    display: none;
}*/

#body_basket input[type=text] {
    font-family: museo_sans100;
}

#body_basket #basket_n td .button {
    margin-top: 5px;
}









/* CARDRAIL --------------------------------------------------------------------------------------------------------- */

.cardrail {
    width: 100%;
    height: 250px;
    position: relative;
    background: none;
    padding-top: 10px;
    margin-top: 25px;
    white-space: nowrap;
    border-top: 1px solid #dcd9d2;
    overflow: hidden;
}

#card_designer {
    display: block !important;
}

#card_tag_list {
    display: none;
}

.cardrail #prev_page:after,
.cardrail #next_page:after {
    content: '';
}

.cardrail #next_page:before {
    margin-left: 10px;
}










/* HOMEPAGE --------------------------------------------------------------------------------------------------------- */

#body_home .block-banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#body_home .block-banner .block-text .block-title {
    margin-top: 30px;
}

#body_home .block-banner .block-text p {
    margin-bottom: 10px;
}

#body_home .block7-img-tablet img {
    display: none;
}

#body_home .block7 .block7-img {
    float: right;
}

#body_home footer .block-bank img {
    width: 451px;
    height: 34px;
}

#body_home #mid {
    padding-top: 0;
}

#body_home #mid .cols br {
    display: none;
}









/*title jumps to below card*/

@media only screen and (min-width: 494px) and (max-width: 768px) {
    body#body_design .box-body h1 {
        font-size: 34px !important;
    }
}









/*title jumps to card description*/

@media only screen and (max-width: 494px) {
    body#body_design #card-info-left h1 {
        font-size: 22px !important;
        font-family: museo_sans100 !important;
        font-size: 18px !important;
        color: #000000 !important;
        line-height: 1.8 !important;
        font-weight: bold;
    }
}

@media screen and (max-width: 1199px) {
    #body_home .block3.block-padding {
        padding-top: 0px;
    }

    #body_home .block6,
    #body_home .block7 {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media screen and (max-width: 991px) {
    #body_home .block-banner {
        display: block;
        background-size: auto 360px;
        background-position: top center;
        min-height: 360px;
    }

    #body_home .block-banner .block-text p br {
        display: none;
    }

    #body_home #template-sidebar {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #body_home #template-sidebar .block3 {
        -webkit-order: 1;
        order: 1;
    }

    #body_home #template-sidebar .block4 {
        -webkit-order: 3;
        order: 3;
    }

    #body_home #template-sidebar .block5 {
        -webkit-order: 4;
        order: 4;
    }

    #body_home #template-sidebar .block6 {
        -webkit-order: 2;
        order: 2;
    }

    #body_home #template-sidebar .block7 {
        -webkit-order: 5;
        order: 5;
    }

    #body_home .group-button .button {
        width: 300px;
        margin-bottom: 10px;
    }

    #body_home .block3 .list-5 .item {
        width: 20%;
        padding: 0 5px;
    }

    #body_home .block .item {
        margin-bottom: 20px;
    }

    #body_home .block .item:last-of-type {
        margin-bottom: 0;
    }

    #body_home .block .wrap {
        display: flex;
        display: -webkit-flex;
        min-height: 100px;
        padding: 25px 25px 15px 25px;
    }

    #body_home .block .wrap .wrap-image {
        width: 35%;
        -webkit-order: -1;
        order: -1;
    }

    #body_home .block .wrap .wrap-text {
        width: 65%;
        padding-left: 20px;
    }

    #body_home .block .wrap .wrap-text h2,
    #body_home .block .wrap .wrap-text p {
        text-align: left;
    }

    #body_home .block6 {
        margin-left: -15px;
        margin-right: -15px;
    }

    #body_home .block7 {
        /*background: url(../img/bg1.png) left center/auto 100% no-repeat;*/
        background: url(../img/bg1.png) no-repeat;
        background-size: cover;
        background-position: top center;
    }

    #body_home .block7-img-tablet img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    #sidebar {
        display: none!important;
    }

    #body_home .block-banner {
        background-size: auto 150px;
        background-position: top left;
        min-height: 480px;
        height: auto;
    }

    #body_home #template-sidebar .block3 {
        -webkit-order: 1;
        order: 1;
    }

    #body_home #template-sidebar .block4 {
        -webkit-order: 2;
        order: 2;
    }

    #body_home #template-sidebar .block5 {
        -webkit-order: 3;
        order: 3;
    }

    #body_home #template-sidebar .block6 {
        -webkit-order: 5;
        order: 5;
    }

    #body_home #template-sidebar .block7 {
        -webkit-order: 4;
        order: 4;
    }

    #body_home .block-banner .block-text {
        margin-top: 140px;
    }

    #body_home .block-banner .block-text .block-title {
        font-size: 34px!important;
        text-align: center;
        margin-bottom: 10px;
    }

    #body_home .block-banner .block-text p {
        font-size: 17px;
        text-align: center;
        margin-bottom: 0;
    }

    #body_home .block-banner .block-text .group-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #body_home .group-button .button {
        width: 100%;
    }

    #body_home #mid {
        padding-top: 10px;
    }

    #body_home .block3 {
        padding-top: 0;
    }

    #body_home .block4,
    #body_home .block5 {
        display: block;
    }

    #body_home .block3 .container,
    #body_home .block4 .container,
    #body_home .block5 .container {
        padding: 0;
    }

    #body_home .block3 .container p,
    #body_home .block4 .container p,
    #body_home .block5 .container p.block-sub-title,
    #body_home .block7 .container p.block-sub-title {
        font-size: 22px;
        line-height: 1.4;
    }

    #body_home .block5 .container p {
        font-size: 18px;
        line-height: 1.4;
    }

    #body_home .block3 .container p.block-title,
    #body_home .block4 .container p.block-title,
    #body_home .block5 .container p.block-title {
        font-size: 40px;
        margin-bottom: 0;
    }

    .block3 .list-item {
        margin-top: 20px;
        margin-left: -8px;
        mrgin-right: -8px;
    }

    #body_home .block3 .list-5 .item {
        width: 50%;
        padding: 0 8px;
    }
    #body_home .block3 .list-5 .item:last-of-type {
        display: none;
    }

    #body_home .block4 .create-yourself {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #body_home .block4 .create-yourself .create-yourself-text {
        -webkit-order: -1;
        order: -1;
        width: 100%;
    }

    #body_home .block4 .create-yourself .create-yourself-text ul li,
    #body_home .block7 ul li {
        font-size: 14px;
    }

    #body_home .block4 .create-yourself .create-yourself-image {
        width: 100%;
    }

    #body_home .block5 .group-button {
        margin-bottom: 20px;
    }

    #body_home .block7-img {
        display: none;
    }

    #body_home .block6 .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #body_home .block6 .list-item {
        margin-top: 30px;
    }

    #body_home .block6 .container .wrap {
        padding: 20px 10px;
        min-height: 200px;
    }

    #body_home .block .wrap {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        min-height: 100px;
        padding: 25px 25px 15px 25px;
    }

    #body_home .block .wrap .wrap-image {
        width: 100%;
        -webkit-order: 0;
        order: 0;
    }

    #body_home .block .wrap .wrap-text {
        width: 100%;
        padding-left: 0;
    }

    #body_home .block .wrap .wrap-text h2,
    #body_home .block .wrap .wrap-text p {
        text-align: center;
    }

    #body_home .block .wrap .wrap-image {
        padding: 20px 10px 0 20px;
    }

    #body_home footer .block-bank img {
        width: 100% !important;
        height: auto !important;
    }
}









/* NAVBAR ----------------------------------------------------------------------------------------------------------- */

.navbar .topbar {
    background-color: #e2f1f3;
}

.navbar .logo-m {
    z-index: -1;
}

.navbar .middlebar .sForm input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    padding-left: 5px;
    font-family: museo_sans100;
}

.sForm form {
    position: relative;
}

.sForm form button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 3px;
    top: 4px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.sForm form button:after {
    font-family: kcicons;
    content: 's';
    z-index: 1;
    color: #2e2b7e;
    font-size: 16px;
}

.navbar .middlebar .sForm {
    display: none;
}

@media screen and (min-width: 1199px) {
    .navbar .middlebar ul.middlebar-menu-right {
        right: 160px;
    }

    .navbar .middlebar .navbar-search .sForm {
        display: none;
    }

    .navbar .middlebar .sForm {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 10px;
        height: 50px;
        width: 180px;
        padding: 5px 10px;
        z-index: 999;
    }
}

@media screen and (max-width: 1199px) {
    .navbar .topbar {
        width: 100%;
        padding-right: 180px;
    }
    .navbar .topbar .topbar-menu-right {
        right: 0;
    }

    .navbar .middlebar .navbar-search .sForm {
        display: none;
    }

    .navbar .middlebar .sForm {
        display: inline-block;
        position: absolute;
        right: 0;
        top: -40px;
        height: 40px;
        width: 180px;
        padding: 3px 10px 0 0;
        z-index: 999;
        background-color: #92c2c9;
    }

    .navbar .topbar .topbar-menu-left {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .navbar .topbar .topbar-menu-right ul li {
        margin: 5px 8px;
    }

    .navbar .topbar .topbar-menu-right ul li:last-of-type {
        margin-right: 0;
    }

    .navbar .topbar .topbar-menu-right #navbar-basket {
        display: inline-block;
        background-color: #92c2c9;
        color: #fff;
    }

    .navbar .topbar .topbar-menu-right .fa,
    .navbar .topbar .topbar-menu-right .icon {
        font-size: 24px;
    }

    .navbar .topbar .topbar-menu-right .fa-angle-down {
        display: none;
    }
    .navbar .middlebar {
        height: 0px;
    }

    .navbar .middlebar .sForm {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 50px;
        width: 180px;
        padding: 5px 10px;
        z-index: 10000;
        background-color: transparent;
    }
}

@media screen and (max-width: 767px) {
    .navbar .topbar {
        width: 100%;
        padding-right: 0px;
    }

    .navbar .topbar .topbar-menu-right {
        right: 0;
    }

    .navbar .topbar .topbar-menu-right ul li {
        margin: 5px 2px;
    }

    .navbar .topbar .topbar-menu-right .fa,
    .navbar .topbar .topbar-menu-right .icon {
        font-size: 22px;
    }

    .navbar .topbar .topbar-menu-right #navbar-basket {
        display: none;
    }

    .navbar .middlebar {
        height: 38px;
    }


    .navbar .middlebar .sForm input {
        width: 100%;
    }

    .navbar .middlebar ul.middlebar-menu-right {
        margin-top: 20px;
    }
}











/* FOOTER ----------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
    #body_home footer .top .container {
        padding: 0 15px;
    }
}

@media screen and (max-width: 991px) {
    #body_home footer .top .container {
        padding: 0;
    }

    #body_home footer .list-item .item {
        width: 33.33%;
    }
}

@media screen and (max-width: 767px) {
    #body_home footer .list-item .item {
        width: 100%;
    }

    footer .list-item .menu-title {
        margin-bottom: 10px;
        margin-top: 20px;
    }
}










/* FOOTER HEADER ---------------------------------------------------------------------------------------------------- */

.footer-header {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.footer-header .footer-header-payment img {
    display: inline-block;
}

@media screen and (min-width: 992px) {
    .footer-header .footer-header-shopping br,
    .footer-header .footer-header-payment br,
    .footer-header .footer-header-delivery br {
        display: none;
    }
    .footer-header .footer-header-shopping img,
    .footer-header .footer-header-payment img,
    .footer-header .footer-header-delivery img {
        height: 30px;
        margin-left: 10px;
    }
    .footer-header .footer-header-payment img.vs {
        height: 24px;
    }
}

@media screen and (max-width: 991px) {
    .footer-header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-header .footer-header-shopping img,
    .footer-header .footer-header-delivery img {
        height: 30px;
    }
    .footer-header .footer-header-payment img {
        height: 22px;
        margin-top: 8px;
        margin-left: 5px;
    }
    .footer-header .footer-header-payment img:first-of-type {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer-header .footer-header-shopping,
    .footer-header .footer-header-payment,
    .footer-header .footer-header-delivery {
        text-align: center;
    }
    .footer-header .footer-header-payment,
    .footer-header .footer-header-delivery {
        margin-top: 30px;
    }
}

.floatAdmin {
    top: 100px !important;
}









/* FILTER MENU ------------------------------------------------------------------------------------------------------ */

#tagli-blauw label {
    background: #2286dd!important;
}

#tagli-oranje label {
    background: orange!important;
}

#tagli-geel label {
    background: #ff0!important;
}

#tagli-roze label {
    background: #d53276!important;
}

#tagli-kleurrijk label {
    background: url(/img/icon_kleurrijk.png) center center/150% 150% no-repeat !important;
}

.mf__main #tagli-kleurrijk label.active:before,
.mf__main #tagli-kleurrijk label:before {
    background: transparent!important;
}

#tagli-rood label {
    background: #db1704!important;
}

#tagli-bruin label {
    background: #7b6a4f!important;
}

@media screen and (max-width: 767px) {
    #filter_cards {
        display: none;
    }
}

.mf__main ul.mob-tag-group-ul ul label.active {
    color: #fff;
}

.mf__main ul.mob-tag-group-ul ul #tagli-geel label.active,
.mf__main ul.mob-tag-group-ul ul #tagli-wit label.active {
    color: #635f5c;
}









/* EDIT ------------------------------------------------------------------------------------------------------------- */

#body_edit #clipartlist .content img,
#body_edit #imagelist .content img,
#body_edit #patternlist img {
    max-width: 30%;
    max-height: 90px;
    margin: 5px 1.5%;
    width: auto !important;
    height: auto !important;
}

.thumbnail .thumbnail-button-button {
    width: calc(100% - 12px);
    color: #575757 !important;
    text-align: center;
    border-left: 1px solid #e1eef2;
    border-right: 1px solid #e1eef2;
    border-bottom: 1px solid #e1eef2;
    background-image: none;
    background: #fff;
    padding: 10px 0 0;
    opacity: 1;
    position: relative;
    display: block;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .thumbnail .thumbnail-button-button {
        font-size: 14px;
        line-height: 16px;
    }
}

.open_mobile_filter.floater {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#body_edit .ui-dialog-titlebar-close {
    outline: none;
}

#body_edit .ui-dialog-titlebar-close:after {
    font-family: kcicons;
    content: '\e001';
    display: inline-block;
    font-size: 16px;
    color: #555;
    position: absolute;
    right: 10px;
    top: 5px;
}


#body_edit .sp-picker-container .sp-button-container {
    padding-top: 100px;
}










/* FILTERS ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 991px) {
    #categories {
        display: none;
    }
}

#reseller-account-search {
    font-family: "museo_sans100", Sans-Serif;
}









/* SLIDER BUTTONS --------------------------------------------------------------------------------------------------- */

#body_design #next_page,
#body_design #prev_page {
    background: none;
    border: 0px solid #fff;
    transition: color 0.3s;
    box-shadow: none;
    color: #92c2c9;
}

#body_design #next_page:after,
#body_design #prev_page:after {
    content: '';
    border: none;
}

#body_design #next_page:hover,
#body_design #prev_page:hover {
    color: #111;
}









/** ROUWKAARTEN HEADER ----------------------------------------------------------------------------------------------- */

.rouwkaarten-header {
    display: flex;
    flex-wrap: wrap;
}

.rouwkaarten-header>div {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rouwkaarten-header__info {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    line-height: 1.2em;
    max-width: 185px;
    position: relative;
    padding-left: 35px;
}

.rouwkaarten-header__info:before {
    font-family: kcicons;
    z-index: 1;
    color: #E38464;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.rouwkaarten-header__info-top {}

.rouwkaarten-header__info-top:before {
    content: 'g';
}

.rouwkaarten-header__info-bottom {
    margin: 0 0 0 auto;
    float: right;
}

.rouwkaarten-header__info-bottom:before {
    content: 'r';
}

.rouwkaarten-header__info-bordered {
    border: 2px dashed #E38464;
}

.rouwkaarten-header__info-image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.rouwkaarten-header__sale-points {
    margin: 0 auto 15px auto;
    width: 100%;
    max-width: 330px;
}

.rouwkaarten-header__sale-point {
    position: relative;
    font-size: 16px;
    padding: 5px 5px 5px 35px;
    line-height: 1.2em;
}

.rouwkaarten-header__sale-point:before {
    font-family: kcicons;
    z-index: 1;
    color: #64C784;
    font-size: 16px;
    position: absolute;
    top: 4px;
    left: 10px;
    content: '\e010';
}

.rouwkaarten-header__sale-all {
    margin: 0 auto 30px auto;
    width: 250px;
    display: block;
    border-color: #e18568;
}

.rouwkaarten-header__sale-image {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.rouwkaarten-header__sale-image:not(:first-child) {
    margin-left: -20px;
    z-index: 9;
}

.rouwkaarten-header__sale-info {
    display: inline-block;
    vertical-align: middle;
    min-width: 300px;
    font-size: 16px;
    line-height: 1.2em;
}

.rouwkaarten-header__sale-contact {
    text-align: center;
}

.rouwkaarten-header__sale-questions {
    color: #322783;
    font-family: museo_sans700;
}

.rouwkaarten-header__sale-hours {
    font-size: 0.85em;
}

@media screen and (min-width: 768px) {
    .rouwkaarten-header__sale-points {
        margin: 0 0 15px 0;
        width: 100%;
        max-width: 330px;
    }
    .rouwkaarten-header__sale-all {
        margin: 0 0 30px 35px;
    }
    .rouwkaarten-header__sale-contact {
        text-align: left;
    }
}









/** THUMBNAIL ----------------------------------------------------------**/

.thumbnail {
    border-radius: 2px;
    padding: 10px;
}

.thumbnail .thumbnail-head {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
    opacity: .8;
}

.thumbnail-fluid .thumbnail-head {
    margin-bottom: 0;
    background-color: #fff;
}















/** HOMEPAGE-NEW -------------------------------------------------------------**/

@media screen and (max-width: 479px) {
    .mobile-hide {
        display: none;
    }
}

#navbar-basket {
    overflow: hidden;
}




/** BUTTON **/

.button {
    white-space: initial !important;
}