/** LEGACY - CUSTOM-TEMP.CSS *****************************/



.button-success:hover {
    color: #555;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.button-block {
    border-radius: 10px;
}

/* NAVBAR ----------------------------------------------------------------------------------------------------------- */



.navbar .topbar .topbar-menu-right {
    display: inline-block;
    float: right;
    padding-right: 15px;
}

.navbar .topbar .topbar-menu-right > ul > li {
    display: inline-block;
    height: 40px;
}

.navbar .topbar .topbar-menu-right > ul > li.dropdown:hover {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background-color: #fff;
    z-index: 9999;
}

.navbar .topbar .topbar-menu-right > ul > li a {
    height: 40px;
    display: inline-block;
}

.navbar .topbar .topbar-menu-right > ul > li a span {
    display: none;
}


.navbar .topbar .topbar-menu-right ul li.dropdown ul.dropdown-content {
    position: fixed;
    right: 0;
    left: 0;
    top: 40px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #e0e0e0;
}

.navbar .topbar .topbar-menu-right ul li.dropdown ul.dropdown-content li {
    padding-left: 0;
    padding-right: 0;
}


.navbar .topbar .topbar-menu-right ul {
    margin-bottom: 0;
}

.navbar .topbar .topbar-menu-right > ul > li.dropdown .borderbreak {
    height: 2px;
    position: absolute;
    top: 38px;
    z-index: 1000;
    width: 100%;
    right: 0;
    background: #fff;
    display: none;
}

.navbar .topbar .topbar-menu-right > ul > li.dropdown:hover .borderbreak {
    display: block;
}

.navbar .middlebar .sForm {
    height: auto;
}

@media only screen and (min-width: 768px) {
    .navbar .middlebar .sForm input {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: 116px;
        margin-bottom: 0;
    }

    .navbar .topbar {
        padding-right: 15px;
    }

    .navbar .topbar .topbar-menu-right {
        padding-right: 0;
    }

    .navbar .topbar .topbar-menu-right > ul > li a span {
        display: inline-block;
    }

    .navbar .topbar .topbar-menu-right ul li.dropdown ul.dropdown-content {
        position: absolute;
        right: 0;
        left: -1px;
        top: 40px;
        background-color: #fff;
        width: 250px;
        border: 1px solid #e0e0e0;
    }

    .navbar .middlebar {
        top: 40px;
    }

    .navbar .middlebar .sForm {
        background-color: transparent;
        padding: 0 10px 0 0;
    }

    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background-color: transparent;
    }

}

/* DESIGN PAGE ------------------------------------------------------------------------------------------------------ */

#body_design .add_to_collection,
#body_design .open_calculator {
    border-radius: 4px;
}

#body_design .desUsp {
    border-radius: 8px;
}

#body_design #choose_preview .icon-arrow-right:after {
    font-family: kcicons;
}

/* EDITOR ----------------------------------------------------------------------------------------------------------- */

#canvas {
    overflow: hidden;
    z-index: 0;
}

#canvasgrid {
    pointer-events: none;
}

#canvasgrid table.edit_cross td {
    border: 1px solid red;
    width: 50%;
}

#canvasgrid table.edit_cross tr:first-child td {
    border-top: 0;
}

#canvasgrid table.edit_cross tr td:first-child {
    border-left: 0;
}

#canvasgrid table.edit_cross tr td:last-child {
    border-right: 0;
}

#canvasgrid table.edit_cross tr:last-child td {
    border-bottom: 0;
}

@media screen and (min-width: 768px) {
    .ed .ui-accordion .ui-accordion-header a {
        background-color: #92c2c9;
        color: #fff;
        padding: 5px 10px;
    }

    .ed #accordion .ui-accordion-content {
        height: 324px;
    }

    .ed .ui-accordion .ui-accordion-header a:hover {
        background-color: #5B8F96;
    }

    .ed .ui-accordion .ui-accordion-header.ui-state-active a {
        background-color: #5B8F96;
    }

    #body_basket #nav_buttons .back-button {
        margin-top: 15px;
    }
    .ed #nav_buttons #order_card {
        background-color: #e18568;
    }

    .ed button#choose_font:hover {
        background: #e18568;
    }

    #body_keuze .direct_shipment .button,
    #body_keuze .envVooraf .button,
    #body_keuze .kaartenVoor .button,
    #body_keuze .proefdruk .button {
        background-color: #c7ddbd;
        border-radius: 0;
        border: 1px solid #c7ddbd;
    }

    #body_keuze .direct_shipment .button:hover,
    #body_keuze .envVooraf .button:hover,
    #body_keuze .kaartenVoor .button:hover,
    #body_keuze .proefdruk .button:hover {
        background-color: #fff;
        color: #c7ddbd;
    }

    #body_basket #nav_buttons .back-button,
    #body_basket #nav_buttons .forward-button {
        border-radius: 0;
        padding: 12px 20px;
    }

    .ed #photo_arrange button,
    .ed .ed-cols-right #photo_turn_left,
    .ed .ed-cols-right #photo_turn_right {
        background-color: #fff;
    }

    #body_address_n #nav_buttons #step_forward,
    #body_bestel_details #nav_buttons #step_forward,
    #body_voorbeeld #nav_buttons #step_forward {
        padding: 12px 20px;
        border-radius: 0;
    }

    #body_basket #basket_n td .button {
        margin-top: 0;
        border-radius: 0;
    }

    .ed #chooseside .single_portrait_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
    }

    .ed #chooseside .single_portrait_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
    }

    .ed .ui-dialog {
        background-color: #fff;
        z-index: 9;
    }

    .ed #tag_dialog {
        max-height: 70vh !important;
    }

    #body_edit .ui-dialog-titlebar-close:after {
        content: '';
    }

    .ed #email_login,
    .ed #password_login {
        text-align: left;
    }

    #body_bestel_details .ng2-dropdown .ng2-dropdown-option {
        max-height: 180px;
    }

    .ed #imagelist .head,
    .ed #clipartlist .head,
    .ed #patternlist .head {
        clear: left;
    }

    .ed #imagelist .content,
    .ed #clipartlist .content,
    .ed #patternlist .content {
        width: 100%;
    }

    #body_edit #save_user_design_form label:hover,
    #body_edit #save_design_form label:hover {
        color: initial;
        border: none;
    }

    .ed #chooseside {
        width: 400px;
    }

    .ed #chooseside label {
        border: 1px solid transparent;
        color: transparent;
    }

    .ed #chooseside label:hover {
        border-color: #c7ddbd;
    }
}


/** EDIT FIX PANORAMA LIGGEND ------------------- **/

.side-block {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 15px;
    width: 125px
}

.side-block .side-block-buttons {
    display: table;
    position: relative;
    border: 1px solid #d7dada;
    background-color: #fff;
    width: 100%
}

.side-block .side-block-buttons .side-block-button {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 0;
    cursor: pointer;
    border-right: 1px dashed #d7dada;
    width: 50px
}

.side-block .side-block-buttons .side-block-button:last-child {
    border-right: none
}

.side-block .side-block-buttons .side-block-button.active,.side-block .side-block-buttons .side-block-button:active,.side-block .side-block-buttons .side-block-button:focus,.side-block .side-block-buttons .side-block-button:hover {
    background-color: #f9f9f9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.side-block .side-block-buttons .side-block-button.active:after,.side-block .side-block-buttons .side-block-button:active:after,.side-block .side-block-buttons .side-block-button:focus:after,.side-block .side-block-buttons .side-block-button:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    content: ""
}

#body_edit #chooseside,#body_edit #page_edit_nav_new {
    position: absolute!important;
    z-index: 1;
    text-align: center;
    top: auto!important;
    left: 150px!important;
    bottom: 0!important;
    margin: 0!important;
    padding: 0!important
}

#body_edit #page_edit_nav_new {
    width: auto!important
}

.tooltip {
    position: relative
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #383333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -75px;
    line-height: 16px;
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important;
    font-size: 11px
}

.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent
}

.tooltip.open-tooltip .tooltiptext {
    visibility: visible
}
#choose_part,#choose_side {
    font-size: 9px
}

#panorama_next_click,#panorama_prev_click {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer
}

#panorama_prev_click {
    left: 15px
}

#panorama_next_click {
    right: 15px
}

#panorama_next_click .panorama_next_click_button,#panorama_prev_click .panorama_prev_click_button {
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 99999;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #e18568;
    text-align: center
}

#panorama_next_click .panorama_next_click_button:before,#panorama_prev_click .panorama_prev_click_button:before {
    font-family: editor-font!important;
    font-size: 25px;
    line-height: 45px;
    color: #e18568;
    text-align: center
}

#panorama_prev_click .panorama_prev_click_button:before {
    content: "\71";
    padding-right: 4px
}

#panorama_next_click .panorama_next_click_button:before {
    content: "\70";
    padding-left: 4px
}

#panorama_next_click .panorama_next_click_button {
    right: 0
}

@media (max-width: 767px) {
    #page_edit_nav_new {
        display: none;
    }

    .panorama-drieluik #editor-scroller {
        display: block;
        position: fixed;
        width: 180px;
        bottom: 107px;
        height: 5px;
        background: #b9b9b9;
        border: none;
        left: 0;
        right: 0;
        margin: auto
    }

    .panorama-drieluik #editor-scroller .ui-slider-handle {
        background: #f1f1f1!important;
        margin-left: -29px;
        position: relative;
        display: table;
        border-radius: 15px;
        top: -.9em;
        color: #909090;
        -ms-touch-action: none;
        touch-action: none
    }

    .panorama-drieluik #editor-scroller .ui-slider-handle>span.icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 2px
    }

}
@media (min-width: 767px) {
    #editor-scroller {
        display: none;
    }
}

@media (max-width: 767px) {
    .ed#body_edit .ed-footer {
        height: 90px !important;
    }
}
