.full_img_card {
    border: 1px solid #e1eef2;
    width: 100%;
    margin: 25px 0;
}

.full_img_card_img {
    float: left; 
    vertical-align: top;
    margin-right: 25px;
}

.full_img_card_img img {
    width: 300px;
    height: auto;
}

.clearfix {
    clear: both;
    height: 0px;
}

.full_img_card_content {
    padding-top: 25px;
}

.full_img_card_title {
    font-family: ropa_soft_proextrabold_italic !important;
    font-size: 32px !important;
    color: #2e2b7e !important;
    line-height: 1;
}

.full_img_card_subtitle {
    color: #2e2b7e;
    margin-bottom: 15px;
}

.content_img_text_block {
    margin: 25px 0;
}

.img_text_left {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.img_text_right img,
.img_text_left img {
    max-width: 100%;
    height: auto;
}

.img_text_right {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.img_text_title {
    font-family: ropa_soft_proextrabold_italic !important;
    font-size: 32px !important;
    color: #2e2b7e !important;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content_button {
    background-color: #e18568;
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    width: auto;
    border: solid 1px #e18568;
    padding: 12px 18px;
    line-height: 1.3333333;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.content_button:hover {
    background-color: #fff;
    color: #e18568;
}

.waterfall_grid_item {
    height: auto;
    border: 1px solid #e1eef2;
    margin: 10px;
    border-radius: 4px;
    padding: 15px;
}

.waterfall_grid_item_title {
    font-weight: bold;
    margin-bottom: 5px;
}