<!-- <link href="/css/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/css/less.min.css" rel="stylesheet" type="text/css" />
<link href="/css/custom-temp.css" rel="stylesheet" type="text/css" />
 -->
<link href="/css/custom.css" rel="stylesheet" type="text/css" />
<div class="navbar">
    <div class="topbar">
        <a class="logo-m" href="/" title="Salut rouwdrukwerk"><img alt="Salut" src="/img/logo.png" /></a>
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <div class="topbar-menu-left">
                <ul>
                    <li>
                        <a href="/bezorging">
                            <i class="fa fa-check">&nbsp;</i>
                            <span>Voor 18.00u&nbsp;besteld, zelfde werkdag verstuurd</span>
                        </a>
                    </li>
                    <li>
                        <a href="/prijzen">
                            <i class="fa fa-check">&nbsp;</i>
                            <span>Proefdruk &euro; 2,50</span>
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <i class="fa fa-check">&nbsp;</i>
                            <span>Bereikbaar tot 21.00u</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:0857430765" id="headerphone" title="085-7430765">
                            <i class="fa fa-phone">&nbsp;</i>
                            <span>085 - 743 07 65</span>
                        </a>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="help js-dropdown-hover" href="/hoe-werkt-het" title="Hoe werkt het?">
                            <i class="fa fa-info-circle">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/direct-verzenden">Directe Rouwverzending</a>
                            </li>
                            <li>
                                <a href="/papiersoorten">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/hoe-werkt-het">Hoe werkt het?</a>
                            </li>
                            <li>
                                <a href="/faq">Veel gestelde vragen</a>
                            </li>
                            <li>
                                <a href="/betalen">Betalen</a>
                            </li>
                            <li>
                                <a href="/bezorging">Bezorging en Rouwverzending</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="/over-ons">Over ons</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                            </li>
                            <li>
                                <a href="/salut-voor-uitvaartondernemers">Salut voor uitvaartondernemers</a>
                            </li>
                        </ul>
                        <div class="borderbreak">&nbsp;</div>
                    </li>
                    <li class="dropdown js-dropdown" id="navbar-logout">
                        <a class="account js-dropdown-hover" href="javascript:void(0);" title="Account">
                            <i class="fa fa-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a class="menu-link-hidden" href="/account_company_info" style="display:none">Bedrijfsgegevens</a>
                            </li>
                            <li>
                                <a class="menu-link-hidden" href="/manage_clients" style="display:none">Klanten Beheren</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li style="border-top: 1px dashed #e0e0e0;">
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                        <div class="borderbreak">&nbsp;</div>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Inloggen">
                            <i class="fa fa-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li>
                        <a href="/basket_n" title="Winkelmandje">
                            <i class="fa fa fa-shopping-basket">&nbsp;</i>
                            <span id="navbar-basket">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/" title="Salut rouwdrukwerk"><img alt="Salut" src="/img/logo.png" /></a>
                <ul class="middlebar-menu-right">
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-hover" href="/#">Rouwkaarten</a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/rouwkaarten">Alle rouwkaarten</a>
                            </li>
                            <li>
                                <a href="/rouwkaarten/natuur">Natuur rouwkaarten</a>
                            </li>
                            <li>
                                <a href="/rouwkaart-zee">Zee rouwkaarten</a>
                            </li>
                            <li>
                                <a href="/rouwkaarten-met-bloemen">Rouwkaarten met bloemen</a>
                            </li>
                            <li>
                                <a href="/rouwkaart-orchidee">Orchidee rouwkaarten</a>
                            </li>
                            <li>
                                <a href="/rouwkaarten/aquarel">Aquarel rouwkaarten</a>
                            </li>
                            <li>
                                <a href="/rouwkaart-met-foto">Rouwkaart met portretfoto</a>
                            </li>
                            <li>
                                <a href="/abstracte-rouwkaarten">Abstracte rouwkaarten</a>
                            </li>
                            <li>
                                <a href="/rouwkaart-kind">Kinderrouwkaarten</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/rouwbrieven">Rouwbrieven</a>
                    </li>
                    <li>
                        <a href="/bedankkaarten">Bedankkaarten</a>
                    </li>
                    <!--<li><a href="/condoleancekaarten">Sterktekaart</a></li>-->
                    <li>
                        <a href="/zelf-maken">Zelf ontwerpen</a>
                    </li>
                    <!--<li><a href="/blog">Blog</a></li>-->
                    <li class="dropdown  js-dropdown">
                        <a class="js-dropdown-hover" href="/#">Meer</a>
                        <ul class="dropdown-content  js-dropdown-content">
                            <li>
                                <a href="/bidprentjes">Bidprentjes collectie</a>
                            </li>
                            <li>
                                <a href="/wat-schrijf-je-op-een-rouwkaart">Hoe schrijf je de rouwkaart</a>
                            </li>
                            <li>
                                <a href="/tekst-rouwkaart">Voorbeeldtekst rouwkaart</a>
                            </li>
                            <li>
                                <a href="/gedicht-voor-op-een-rouwkaart">Rouwgedichten</a>
                            </li>
                            <li>
                                <a href="/wat-schrijf-je-op-een-bedankkaart">Voorbeeldtekst dankkaart</a>
                            </li>
                            <li>
                                <a href="/tekst-bidprentjes">Hoe schrijf je een bidprent</a>
                            </li>
                            <li>
                                <a href="/condoleance-teksten">Tekst bij condoleren</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-search">
                        <div class="sForm" itemscope="" itemtype="http://schema.org/WebSite">
                            <meta itemprop="url" content="/">
                            <form _lpchecked="1" action="/zoeken" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" style="text-align:right;">
                                <meta itemprop="target" content="https://salut.nl/zoeken?qry={qry}">
                                <input itemprop="query-input" name="qry" placeholder="Zoeken" type="text" />&nbsp;</form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sForm" itemscope="" itemtype="http://schema.org/WebSite">
                <meta itemprop="url" content="/">
                <form _lpchecked="1" action="/zoeken" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" style="text-align:right;">
                    <meta itemprop="target" content="https://salut.nl/zoeken?qry={qry}">
                    <input itemprop="query-input" name="qry" placeholder="Zoeken" type="text" />
                    <button>&nbsp;</button>
                </form>
            </div>
        </div>
    </div>
</div>