<div class="visual" style="background-image: url(media/visualbackground.png);">
    <div class="container">
        <div class="cols">
            <div class="xs-12">
                <h1 class="visual__title">ROUWKAARTEN MAKEN</h1>
            </div>
            <div class="xs-12 sm-6">
                <p class="visual__subtitle">Bij Salut maakt u online een rouwkaart voor uw dierbare.
                    <br /> Foto&#39;s en tekst zijn gemakkelijk zelf aan te passen.</p>
            </div>
        </div>
        <div class="cols visual__banners">
            <div class="sm-4">
                <div class="visual__banner" onclick="location.href = '/rouwkaarten';">
                    <img class="visual__banner-image xs-hide xsm-hide sm-hide" src="/media/headerkaart.png" style="width: 105px; height: 78px;" />
                    <h4>Maak je rouwkaarten bij Salut</h4>
                    <p class="xs-hide xsm-hide sm-hide">Salut biedt 7 papiersoorten, 13 kleuren enveloppen en 9 kaartformaten.</p>
                    <a class="button button-lg button-default button-green" href="/rouwkaarten">Kies een kaart uit de collectie</a>
                </div>
            </div>
            <div class="sm-4">
                <div class="visual__banner" contact="" onclick="location.href =">
                    <img class="visual__banner-image xs-hide xsm-hide sm-hide" src="/media/rouwkaartensale1.png" style="width: 121px; height: 65px;" />
                    <h4>We helpen u graag verder</h4>
                    <p class="xs-hide xsm-hide sm-hide">Hulp nodig bij het maken van de rouwkaart? Vragen over het bestellen of bezorgen?</p>
                    <div class="visual__banner-contact">
                        <div>
                            <h3>
                                <a href="tel:0857430765" id="headerphone" title="085-7430765">Bel ons: 085 - 743 07 65</a>
                            </h3>
                        </div>
                        <p class="">Bereikbaar op werkdagen van 9.00 - 21.00 uur</p>
                    </div>
                </div>
            </div>
            <div class="sm-4">
                <div class="visual__banner" onclick="location.href = '/salut-voor-uitvaartondernemers';">
                    <h4>Voor uitvaartondernemers</h4>
                    <p class="xs-hide xsm-hide sm-hide">U kunt via een eigen account op factuur kaarten bewerken, opslaan en bestellen.</p>
                    <a class="button button-lg button-default button-default-reversed" href="/salut-voor-uitvaartondernemers">Samenwerken met Salut</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="cols">
        <div class="xs-12 sm-6">
            <div>
                <h2 class="xs-hide xsm-hide">Thuis ontvangen of direct verzenden</h2>
                <ul class="home-usp-block">
                    <li>Voor 18&nbsp;uur besteld, dezelfde werkdag&nbsp;verzonden</li>
                    <li>Zondag voor 18&nbsp;uur besteld, zondag verzonden</li>
                    <li>Levering&nbsp;maandag t/m&nbsp;zaterdag</li>
                    <li>Klantenservie bereikbaar tot 21&nbsp;uur</li>
                    <li>7 papiersoorten en 13 kleuren enveloppen</li>
                </ul>
                <a class="button button-lg button-default home-usp-button" href="/direct-verzenden"><span class="mobile-hide">Alles over </span>direct verzenden en bezorgen</a>
            </div>
        </div>
        <div class="xs-12 sm-6 xs-hide xsm-hide">
            <div class="rating">
                <div class="rating--number">8.9</div>
                <h3>Klanten geven ons een 8.9</h3>
                <div class="rating--stars">
                    <i class="icon icon-star">&nbsp;</i>
                    <i class="icon icon-star">&nbsp;</i>
                    <i class="icon icon-star">&nbsp;</i>
                    <i class="icon icon-star">&nbsp;</i>
                    <i class="icon icon-star">&nbsp;</i>
                </div>
                <p class="rating--quote">&ldquo;Dit was voor het eerst dat ik een rouwkaart zelf ging ontwerpen. De website heeft een ruime keuze aan papier. Ik ben zeer tevreden met het eindresultaat.&rdquo;</p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <h2>Kies een stijl rouwkaarten</h2>
    <div class="cols">
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten';">
                <a href="/rouwkaarten"><img class="img-responsive img-center" src="/media/saluttemp.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Alle rouwkaarten</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaart-met-foto';">
                <a href="/rouwkaart-met-foto"><img class="img-responsive img-center" src="/media/portret.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaart met foto</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/abstracte-rouwkaarten';">
                <a href="/abstracte-rouwkaarten"><img class="img-responsive img-center" src="/media/abstract.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Bijzondere rouwkaarten</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaart-kind';">
                <a href="/rouwkaart-kind"><img class="img-responsive img-center" src="/media/kind.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaarten kind</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten/natuur';">
                <a href="/rouwkaarten/natuur"><img class="img-responsive img-center" src="/media/natuur.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Natuur collectie</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten/aquarel';">
                <a href="/rouwkaarten/aquarel"><img class="img-responsive img-center" src="/media/aquarel.jpg" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Aquarel collectie</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaart-zee';">
                <a href="/rouwkaart-zee"><img class="img-responsive img-center" src="/media/zee.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaarten zee en strand</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/zelf-maken';">
                <a href="/zelf-maken"><img class="img-responsive img-center" src="/media/zelf.png" /></a>
                <div class="thumbnail-footer text-center">
                    <h3>Zelf maken</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-background full-background--grey">
    <div class="container">
        <h2>Meer producten van Salut</h2>
        <p>Wij bieden een compleet assortiment voor een gedenkwaardig laatste salut.</p>
        <div class="cols">
            <div class="xs-12 sm-4">
                <div class="thumbnail" onclick="location.href = '/bidprentjes';">
                    <div class="thumbnail-head text-center">
                        <h3>Bidprentjes</h3>
                        <p>Herinneren verdient aandacht,
                            <br /> ook n&aacute; het afscheid.</p>
                    </div>
                    <a href="/bidprentjes"><img class="img-responsive img-center" src="/media/bidprent.png" /></a>
                </div>
            </div>
            <div class="xs-12 sm-4">
                <div class="thumbnail" onclick="location.href = '/bedankkaarten';">
                    <div class="thumbnail-head text-center">
                        <h3>Dankbetuiging</h3>
                        <p>Bedank vrienden, naasten en kennissen
                            <br /> met een mooie kaart.</p>
                    </div>
                    <a href="/bedankkaarten"><img class="img-responsive img-center" src="/media/bedank.png" /></a>
                </div>
            </div>
            <div class="xs-12 sm-4">
                <div class="thumbnail" onclick="location.href = '/rouwbrieven';">
                    <div class="thumbnail-head text-center">
                        <h3>Rouwbrieven</h3>
                        <p>Gedachten en herinneringen
                            <br /> aan een dierbaar iemand.</p>
                    </div>
                    <a href="/rouwbrieven"><img class="img-responsive img-center" src="/media/rouwbrief.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="cols">
        <div class="xs-12 sm-6">
            <h4>Een laatste salut voor uw dierbare</h4>
            <p>Op Salut vindt u rouwdrukwerk in verschillende stijlen, soorten en maten. Elke kaart, brief of anderen vorm van drukwerk is aanpasbaar. Zo kunt u tastbare herinneringen maken die passen bij een persoonlijk afscheid.</p>
        </div>
        <div class="xs-12 sm-6">
            <h4>Hulp bij het ontwerpen</h4>
            <p>Onze online ontwerptool kunt u zelf een kaart aanpassen of geheel zelf ontwerpen. Heeft u een vraag over foto&#39;s, tekst of andere afbeeldingen plaatsen? Natuurlijk staat onze klantenservice voor u klaar.</p>
        </div>
    </div>
</div>