<div class="visual" style="background-image: url(media/homebannernew.jpg);">
    <div class="container">
        <h1 class="visual__title">Rouwdrukwerk maak je bij Salut</h1>
        <div class="cols visual__banners">
            <div class="xs-12 xsm-6 sm-3">
                <div class="visual__banner" onclick="location.href = '/rouwkaarten';"><img src="media/homerouwkaarten2x.jpg" />
                    <div class="visual__banner-footer">
                        <h3>Rouwkaarten</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3">
                <div class="visual__banner visual__banner--zelf-maken" onclick="location.href = '/bedankkaarten';"><img src="media/homedankbetuigingen2x.jpg" />
                    <div class="visual__banner-footer">
                        <h3>Dankbetuigingen</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3">
                <div class="visual__banner" onclick="location.href = '/bidprentjes';"><img src="media/homebidprentjes2x.jpg" />
                    <div class="visual__banner-footer">
                        <h3>Bidprentjes</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3">
                <div class="visual__banner" onclick="location.href = '/uitvaartbegeleiders';"><img src="media/homesamenwerken2x.jpg" />
                    <h2>Samenwerken<br/>met Salut</h2>
                    <div class="visual__banner-footer">
                        <h3>Uitvaartbegeleiders</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center visual__bottom">
        <span><strong>Wij zijn dagelijks bereikbaar van 9.00 - 21.00 uur</strong></span>
        <span>
            <i class="icon icon-phone">&nbsp;</i>085 - 7440765&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="icon icon-mail">&nbsp;</i>info@salut.nl</span>
    </div>
</div>
<div class="js-pagecontent-fullwidth">
    <div class="container">
        <div class="cols">
            <div class="xs-12 sm-6">
                <div>
                    <h2>Wij bieden u</h2>
                    <ul class="home-usp-block">
                        <li>
                            <i aria-hidden="true" class="fa fa-circle">&nbsp;</i>Een betrokken team vormgevers</li>
                        <li>
                            <i aria-hidden="true" class="fa fa-circle">&nbsp;</i>Elke dag bereikbaar van 9:00 - 21:00</li>
                        <li>
                            <i aria-hidden="true" class="fa fa-circle">&nbsp;</i>Voor 18:00 besteld, dezelfde dag verzonden</li>
                        <li>
                            <i aria-hidden="true" class="fa fa-circle">&nbsp;</i>Direct rouwverzending, ook op zondag</li>
                        <li>
                            <i aria-hidden="true" class="fa fa-circle">&nbsp;</i>Keuze uit 7 papiersoorten en 13 kleuren enveloppen</li>
                        <li>
                            <i aria-hidden="true" class="fa fa-circle">&nbsp;</i>Maak een kaart met eigen foto en tekst</li>
                    </ul>
                </div>
            </div>
            <div class="xs-12 sm-6">
                <h2>Persoonlijk rouwdrukwerk</h2>
                <p>Ons team vormgevers heeft uitgebreide collecties rouwkaarten, bidprentjes en bedank kaarten gemaakt: natuur, bloemen, zee en aquarel komen in verschillende thema&rsquo;s en stijlen terug. Door hoogwaardige papiersoorten te gebruiken, komt de kaart volledig tot haar recht.</p>
                <a class="button button-lg button-salmon" href="/rouwkaarten">Bekijk de collectie</a>
                <a class="button button-lg button-salmon-reversed" href="/bezorging">Over bestellen en bezorgen</a>
            </div>
        </div>
    </div>
    <div class="container home-rating">
        <div class="cols">
            <div class="xs-12 sm-6 ">
                <div class="rating">
                    <div class="rating--number">8.9</div>
                    <h3>Klanten geven ons een 8.9</h3>
                    <div class="rating--stars">
                        <i class="fa fa-star">&nbsp;</i>
                        <i class="fa fa-star">&nbsp;</i>
                        <i class="fa fa-star">&nbsp;</i>
                        <i class="fa fa-star">&nbsp;</i>
                        <i aria-hidden="true" class="fa fa-star-half-o">&nbsp;</i>
                    </div>
                </div>
            </div>
            <div class="xs-12 sm-6 ">
                <p class="rating--quote">&ldquo;Dit was voor het eerst dat ik een rouwkaart zelf ging ontwerpen. De website heeft een ruime keuze aan papier. Ik ben zeer tevreden met het eindresultaat.&rdquo;</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h2>Respectvol afscheid nemen</h2>
        <p>Salut wil graag een bijdrage leveren aan een persoonlijk afscheid. In de online editor kunt u&nbsp;de kaarten gemakkelijk bewerken: zelf een foto toevoegen, teksten aanpassen en lettertypes wijzigen. Dit kunt u&nbsp;zelf doen of samen met ons.</p>
        <div class="js-add-tag-scroller">&nbsp;</div>
        <h4>Veel gekozen thema&#39;s</h4>
        <a class="button button-salmon" href="/met-foto">Met foto</a>
        <a class="button button-salmon" href="/natuur">Natuur</a>
        <a class="button button-salmon" href="/zee">Zee</a>
        <a class="button button-salmon" href="/orchidee">Orchidee</a>
        <a class="button button-salmon" href="/bloemen">Bloemen</a>
        <a class="button button-salmon" href="/aquarel">Aquarel</a>
    </div>
    <div class="container-fluid fullimage-text-split fullimage-text-split--team">
        <div class="cols">
            <div class="xs-hide xsm-hide sm-6">
                <div class="fullimage-text-split--image image-left" style="background-image: url(media/samenoverleggen.jpg); height: 406px;">&nbsp;</div>
            </div>
            <div class="sm-6">
                <div class="fullimage-text-split--text">
                    <h2>We zijn er voor u</h2>
                    <p>Hulp nodig bij de opmaak, bestelling of betaling?</p>
                    <p>Bel met het Salut team: <strong>085 - 743 07 61</strong></p>
                    <a class="button button-lg button-salmon" href="/rouwkaarten">Bekijk de volledige collectie</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cols">
            <div class="sm-6">
                <h4>Een laatste salut voor uw dierbare</h4>
                <p>Op Salut vindt u rouwdrukwerk in verschillende stijlen, soorten en maten. Elke kaart, brief of andere vorm van drukwerk is aanpasbaar. Zo kunt u tastbare herinneringen maken die passen bij een persoonlijk afscheid.</p>
                <h4>Samen ontwerpen</h4>
                <p>Wilt u graag een otnwerp op maat? Onze ervaren vormgevers denken graag met u mee om een uniek ontwerp te cre&euml;ren. Bel ons via 085 - 743 07 61 of mail naar info@salut.nl.</p>
            </div>
            <div class="sm-6">
                <h4>Hulp bij het ontwerpen</h4>
                <p>In onze online ontwerptool kunt u zelf aan de slag met een ontwerp. Heeft u een vraag over tekst, foto&rsquo;s of andere afbeeldingen plaatsen? Natuurlijk staat onze klantenservice voor u klaar.</p>
                <h4>Wij drukken 6 dagen per week en bezorgen ook op maandag</h4>
                <p>Alle bestellingen die op werkdagen voor 18.00 uur en in het weekend voor zondag 18.00 uur besteld worden drukken en verzenden we nog dezelfde dag! We bezorgen betellingen van 20 stuks of meer ook op maandag.</p>
            </div>
        </div>
    </div>
</div>