<div id="template-sidebar">
    <div class="block block-banner" style="background-image: url(img/banner/banner.jpg);">
        <div class="content">
            <div class="container">
                <div class="cols">
                    <div class="xs-hide xsm-hide sm-5 md-6">&nbsp;</div>
                    <div class="block-text xs-12 xsm-12 sm-7 md-6">
                        <p class="block-title">Tastbaar herinneren</p>
                        <p>Bij Salut maakt u persoonlijke en originele rouwkaarten,
                            <br /> rouwbrieven, bidprentjes en bedankkaarten.</p>
                        <div class="group-button"><a class="button orange button-lg" href="/rouwkaarten">Bekijk de collectie</a> <a class="button button-basic button-lg" href="/zelf-maken">Ontwerp zelf een rouwkaart </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block2">
        <ul>
            <li><a href="/bezorging"><i class="fa fa-check">&nbsp;</i> <span>Voor 18.00 uur besteld, zelfde werkdag verstuurd</span></a></li>
            <li><a href="/direct-verzenden"><i class="fa fa-check">&nbsp;</i> <span>Directe Rouwverzending</span></a></li>
            <li><a href="/contact"><i class="fa fa-check">&nbsp;</i> <span>Bereikbaar tot 21.00 uur</span></a></li>
            <li><a href="/prijzen"><i class="fa fa-check">&nbsp;</i> <span>Bekijk de prijzen</span></a></li>
            <li><a href="/prijzen"><i class="fa fa-check">&nbsp;</i> <span>Proefdruk&nbsp;&euro; 2,50</span></a></li>
        </ul>
    </div>
    <div class="block block3 block-padding">
        <div class="container">
            <h1>Rouwkaarten</h1>
            <p class="block-sub-title">Een laatste salut voor uw dierbare met een persoonlijke rouwkaart</p>
            <div class="list-item list-5">
                <div class="item"><a href="/rouwkaarten/alle"><img alt="" src="/media/img10.jpg" /></a></div>
                <div class="item"><a href="/rouwkaarten/alle"><img alt="" src="/media/img11.jpg" /></a></div>
                <div class="item"><a href="/rouwkaarten/alle"><img alt="" src="/media/img13.jpg" /></a></div>
                <div class="item"><a href="/rouwkaarten/alle"><img alt="" src="/media/img9.jpg" /></a></div>
                <div class="item"><a href="/rouwkaarten/alle"><img alt="" src="/media/img12.jpg" /></a></div>
            </div>
            <div class="group-button text-center"><a class="button button-basic button-lg" href="/rouwkaarten">Bekijk de collectie </a></div>
        </div>
    </div>
    <div class="block block7 block-padding">
        <div class="container">
            <div class="cols">
                <div class="block7-img-tablet xs-hide xsm-hide sm-hide md-6 lg-6"><img alt="" src="img/zelfmaken/img2.png" />&nbsp;</div>
                <div class="xs-12 xsm-12 sm-12 md-6 lg-6">
                    <p class="block-title">Gedachtenisprentje</p>
                    <p class="block-sub-title">Bewaar de herinnering met een bidprentje of gedachtenisprentje</p>
                    <a href="choose_card/bidprentje-bloem-watercolor-mintgroen-rustig-foto"><img alt="" class="block7-img" src="/media/img2.png" /></a>
                    <ul class="list-style">
                        <li><i class="fa fa-check">&nbsp;</i>Plaats of vervang makkelijk een foto</li>
                        <li><i class="fa fa-check">&nbsp;</i>Pas de standaard teksten zelf aan</li>
                        <li><i class="fa fa-check">&nbsp;</i>Kies zelf de oplage</li>
                        <li><i class="fa fa-check">&nbsp;</i>Personaliseer de herinnering</li>
                    </ul>
                    <div class="group-button"><a class="button blue button-lg" href="/bidprentjes">Ontwerp zelf een kaart</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block4 block-padding">
        <div class="container">
            <div class="cols create-yourself">
                <div class="create-yourself-image xs-12 xsm-12 sm-6"><img alt="" src="img/home/img_zelfmaken.jpg" /></div>
                <div class="create-yourself-text xs-12 xsm-12 sm-6">
                    <p class="block-title">Zelf maken</p>
                    <p class="block-sub-title">Maak de herinnering persoonlijk met een eigen ontwerp</p>
                    <ul class="list-style">
                        <li><i class="fa fa-check">&nbsp;</i>Plaats of vervang makkelijk een foto</li>
                        <li><i class="fa fa-check">&nbsp;</i>Pas de standaard teksten zelf aan</li>
                        <li><i class="fa fa-check">&nbsp;</i>Kies zelf de oplage</li>
                    </ul>
                    <div class="group-button"><a class="button blue button-lg" href="/zelf-maken">Zelf een kaart ontwerpen</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block5 block-padding">
        <div class="container">
            <div class="cols">
                <div class="xs-12 xsm-12 sm-6">
                    <p class="block-title">Met eigen foto</p>
                    <p class="block-sub-title">Zeg het met meer dan 1000 woorden</p>
                    <p>Een beeld zegt meer dan 1000 woorden. Toon de persoon zoals u wilt dat hij of zij in de herinnering blijft.</p>
                    <div class="group-button"><a class="button blue button-lg" href="/fotokaarten">Kaart met eigen foto maken</a></div>
                </div>
                <div class="xs-12 xsm-12 sm-6"><a href="/little-robin/rouwkaarten/vierkant-dubbel-rouwkaart-herfstblad-herfst-najaar-sfeervol"><img alt="" src="img/img1.png" /></a></div>
            </div>
        </div>
    </div>
    <div class="block block6 text-center block-padding">
        <div class="container">
            <p class="block-title">Salut biedt meer dan rouwkaarten.</p>
            <p>Bij Salut vindt u naast rouwkaarten ook rouwbrieven, bid- of gedachtenisprentjes en bedankkaarten.</p>
            <p>Wilt u een ontwerp helemaal op maat? Neem dan <a href="https://salut.nl/contact">contact</a> met ons op.</p>
            <div class="cols list-item">
                <div class="xs-12 xsm-12 sm-12 md-6 item">
                    <div class="wrap">
                        <div class="wrap-text">
                            <h2 class="item-title">Gedachtenisprentjes</h2>
                            <p>Een kaartje om uit te delen bij het afscheid.</p>
                        </div>
                        <div class="wrap-image"><a href="/bidprentjes"><img src="img/rouwkaarten/img6.png" /></a></div>
                    </div>
                </div>
                <div class="xs-12 xsm-12 sm-12 md-6 item">
                    <div class="wrap">
                        <div class="wrap-text">
                            <h2 class="item-title">Dankbetuigingen</h2>
                            <p>Bedank naasten met een persoonlijke kaart.</p>
                        </div>
                        <div class="wrap-image"><a href="/bedankkaarten"><img src="img/rouwkaarten/img7.png" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>