<div class="js-pagecontent-fullwidth">
    <!-- TITEL -->
    <div class="container container-pb-0">
        <h1>Samenwerken als uitvaartbegeleider met Salut</h1>
    </div>
    <!-- TEXT AND IMAGE -->
    <div class="container-fluid fullimage-text-split fullimage-text-split--uo-usp">
        <div class="cols  cols-stretch-vertical">
            <div class="md-6">
                <div class="fullimage-text-split--text">
                    <h3>Maak uw rouwdrukwerk nóg mooier</h3>
                    <p>Als Salut zijn we specialist in hoogwaardig drukwerk. Profiteer van onze expertise en biedt een nog betere service aan uw klant.</p>
                    <h3>Ontvang een gratis sampleset</h3>
                    <ul class="home-usp-block">
                        <li>
                            <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>Een set sample rouwkaarten uit de collectie van Salut</li>
                        <li>
                            <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>Een papierwaaier met alle leverbare papiersoorten</li>
                        <li>
                            <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>Probeer Salut zelf. <strong>Bestel gratis en vrijblijvend een proefdruk.</strong></li>
                    </ul>
                </div>
            </div>
            <div class="xs-hide xsm-hide sm-hide md-6">
                <div class="fullimage-text-split--image image-right stretch-vertical-height" style="background-image: url(media/uoimage.png); ">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid blue-bar sampleset">
            <div class="container text-center">
                <h3>Wilt u een gratis sampleset aanvragen?</h3>&nbsp;&nbsp;
                <a href="#contact-form-container" class="button button-salmon button-lg">Neem contact op</a>
            </div>
        </div>
    </div>
    <div class="container uo-quotes">
        <h2>Professioneel rouwdrukwerk maakt u bij Salut</h2>
        <div class="cols">
            <div class="xs-12 md-6">
                <img src="media/judith.jpg">
                <p>“Onze online collectie en editor kunnen ook een mooie aanvulling zijn op uw eigen bestaande collectie. ”</p>
                <p class="quote-name">Judith van der Leeden - Salut klantenservice</p>
            </div>
            <div class="xs-12 md-6">
                <img src="media/andre.jpg">
                <p>“Samen helpen we de klant naar een rouwkaart die kan zorgen voor een mooi, persoonlijk en passend afscheid.”</p>
                <p class="quote-name">André Veenstra - Salut klantenservice</p>
            </div>
        </div>
    </div>
    <div class="container text-container container-vp-md">
        <div class="cols">
            <div class="xs-12 sm-6">
                <h4>Samen sterker met Salut</h4>
                <p>Bij Salut kunt u ook als uitvaartondernemer terecht voor al uw rouwdrukwerk. We kunnen samen met u uniek en persoonlijk rouwdrukwerk maken voor de klant.</p>
                <h4>Same Day Delivery, dat werkt!</h4>
                <p>Als u op werkdagen voor 12.00 uur bestelt is het ook mogelijk om gebruik te maken van onze same day delivery. Wij bezorgen de kaarten dan nog dezelfde dag met een koerier. Deze service is optioneel en zal € 15,95 per order kosten.</p>
                <h4>Bespaar uzelf veel tijd</h4>
                <p>U kunt eenvoudig gebruik maken van onze collectie kaarten die u makkelijk kunt aanpassen. Het is niet nodig om de kaarten zelf te printen of om zelf naar de drukkerij te gaan om kaarten op te halen. Alles kan online doorgegeven worden en wordt bij u, de klant of rechtstreeks bij de geadresseerde bezorgd.</p>
            </div>
            <div class="xs-12 sm-6">
                <h4>Bestel- en levertijden die klanten willen</h4>
                <p>Bestellingen vanaf 20 kaarten die op werkdagen voor 18.00 uur besteld zijn heeft u morgen in huis. In het weekend zondag voor 18.00 uur besteld, dan wordt het maandag geleverd.</p>
                <h4>Klantenservice van 9.00 - 21.00 uur bereikbaar</h4>
                <p>Van maandag tot vrijdag zijn we tussen 9.00 en 18.00 uur bereikbaar, u kunt hier terecht met al uw vragen over de website, kaarten opmaken, bezorgen etcetera. Wij doen tevens een laatste basale check van alle bestellingen en controleren dan lay out en spellingsfouten. Als er wijzigingen nodig zijn nemen we contact op.</p>
                <h4>Een ontwerpstudio met vormgevers</h4>
                <p>Wij hebben een eigen ontwerpstudio die tot uw beschikking staat. Mist u een thema in onze collectie of heeft een klant een speciaal verzoek? In overleg kunnen we alles voor u maken.</p>
            </div>
        </div>
    </div>

    <hr/>
    <div class="container-fluid fullimage-text-split fullimage-text-split--direct-send">
        <div class="cols  cols-stretch-vertical">
            <div class="md-6">
                <div class="fullimage-text-split--text">
                    <h3>Directe verzending van de rouwkaarten</h3>
                    <p>Naast het bezorgen van de kaarten in een pakket bieden we ook directe verzending aan. Hierbij maken we de kaarten verzendklaar in de drukkerij: we steken ze in, plakken er een rouwzegel op en bieden ze in een rouwverzendset met adressenlijst aan bij PostNL.</p>
                    <ul class="home-usp-block">
                        <li>
                            <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>Voer online zelf adressen in of upload uw adressenlijst</li>
                        <li>
                            <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>Verzending als rouwpost of normale post door PostNL</li>
                        <li>
                            <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>Proefdruk en PDF-voorbeeld ook mogelijk</li>
                    </ul>
                    <a href="#contact-form-container" class="button button-salmon button-lg">Vraag een sampleset aan</a>

                </div>
            </div>
            <div class="xs-hide xsm-hide sm-hide md-6">
                <div class="fullimage-text-split--image image-right stretch-vertical-height" style="background-image: url(media/uoimage.png); ">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid companies container-vp-md">
            <div class="container text-center">
                <h2>Uitvaartondernemers die al samenwerken met Salut</h2>
                <img src="media/melati.png" alt="Melati">
                <img src="media/onderstal.png" alt="Onderstal Uitvaartzorg">
                <img src="media/brouwer.png" alt="Brouwer Begravenisonderneming">
                <img src="media/melati.png" alt="Melati">
                <img src="media/onderstal.png" alt="Onderstal Uitvaartzorg">
            </div>
        </div>
    </div>
    <div class="container-fluid fullimage-text-split fullimage-text-split--contact" id="contact-form-container">
        <div class="cols cols-stretch-vertical">
            <div class="xs-12 md-6">
                <div class="fullimage-text-split--text text-center">
                    <h2>Vragen? Neem contact met ons op</h2>
                    <script type="text/javascript" src="https://form.jotformpro.com/jsform/72552738982974"></script>
                </div>
            </div>
            <div class="xs-hide xsm-hide sm-hide md-6">
                <div class="fullimage-text-split--image image-right stretch-vertical-height" style="background-image: url(media/formside.png); ">&nbsp;</div>
            </div>
        </div>
    </div>
</div>