<div class="visual" style="background-image: url(media/rouwkaartenheroimage2x.jpg);">
    <div class="container">
        <div class="cols">
            <div class="xs-push-6 xs-6">
                <h1 class="visual__title">Rouwkaarten maken</h1>
                <p class="">
                    Maak bij Salut persoonlijke rouwkaarten om familie en vrienden uit te nodigen voor het afscheid of ter kennisgeving van het overlijden van uw dierbare.
                </p>
                <a href="/alle-rouwkaarten" class="button button-salmon button-lg">Bekijk de collectie</a>
                <a href="/bezorgen" class="button button-salmon-reversed button-lg">Over bestellen en bezorgen</a>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center visual__bottom">
        <span><strong>Wij zijn dagelijks bereikbaar van 9.00 - 21.00 uur</strong></span>
        <span>
            <i class="icon icon-phone">&nbsp;</i>085 - 7440765&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="icon icon-mail">&nbsp;</i>info@salut.nl</span>
    </div>
</div>
<div class="js-pagecontent-fullwidth">
    <!-- TITEL -->
    <div class="container">
        <h2>Maak een keuze uit onze veelzijdige collectie</h2>
        <p>Maak een keuze uit de uitgebreide collectie rouwkaarten. Natuur, bloemen, zee en aquarel zijn in verschillende thema’s en stijlen te vinden. Blader door onze collectie en maak een persoonlijk ontwerp door het zelf aan te passen in onze online editor. </p>
        <div class="cols cols-multi">
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Rouwkaart met foto</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Rouwkaarten natuur</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Rouwkaarten bloemen</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Alle rouwkaarten</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Lorem ipsum</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Lorem ipsum</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Lorem ipsum</h3>
                    </div>
                </div>
            </div>
            <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                    <img class="img-responsive img-center" src="https://shop75.kaart-o-matic.nl/img/proof-images/image-square.svg">
                    <div class="thumbnail-footer">
                        <h3>Lorem ipsum</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Een selectie van onze veelgekozen rouwkaarten</h2>
        <p>Hieronder vindt u onze unieke collectie rouwkaarten in verschillende stijlen. Klassiek, abstract, ingetogen of juist kleurrijk: u kunt kiezen uit een breed aanbod. Elke kaart kunt u aanpassen naar eigen smaak en voorzien van eigen foto’s.</p>
    </div>
</div>