    <div class="container">
        <div class="cols">
            <div class="sm-6">
                <h4>Een laatste salut voor uw dierbare</h4>
                <p>Op Salut vindt u rouwdrukwerk in verschillende stijlen, soorten en maten. Elke kaart, brief of andere vorm van drukwerk is aanpasbaar. Zo kunt u tastbare herinneringen maken die passen bij een persoonlijk afscheid. </p>
                <h4>Samen ontwerpen</h4>
                <p>Curabitur faucibus lacinia dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tristique at tortor eget consequat. Pellentesque iaculis est eu purus vulputate, at tincidunt orci varius. Nunc libero ex, tristique quis ligula eget, feugiat tincidunt nunc. Nulla pulvinar nibh ac interdum egestas.</p>
            </div>
            <div class="sm-6">
                <h4>Hulp bij het ontwerpen</h4>
                <p>In onze online ontwerptool kunt u zelf aan de slag met een ontwerp. Heeft u een vraag over tekst, foto’s of andere afbeeldingen plaatsen? Natuurlijk staat onze klantenservice voor u klaar.</p>
                <h4>Salut staat voor u klaar</h4>
                <p>Sed dictum placerat lacus at ullamcorper. Maecenas pellentesque non lorem ut mollis. Nam venenatis mollis neque eget feugiat. Etiam dictum tincidunt justo, ut aliquet eros congue sit amet. Suspendisse ut turpis dolor. Vivamus elementum dolor vel risus lacinia iaculis. Donec rutrum metus a pharetra vehicula.</p>
            </div>
        </div>
    </div>
