/** PAGE - HOME-NEW -----------------------------------------**/

#body_home-new {
    .visual {
        background-position: right;
    }
    #mid {
        margin-top: 0px;
        padding: 0px;
    }
    #pagecontent {
        #pagebody>h1 {
            display: none;
        }
        .custom_content>div {
            >.container {
                // padding-left: 0px;
                // padding-right: 0px;
            }
        }
    }
}






@media screen and (min-width: 480px) {
    #body_home-new {
        .visual {
            background-position: right;
            .visual__banners .xs-12.xsm-6.sm-3 {
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
}