/** PAGE - UITVAARTBEGELEIDERS-----------------------------------------**/

#body_rouwkaartenv2 {
    #pagebody > h1 {
        display: none;
    }
    #card_previews {
    	max-width: 1200px;
    	margin: 0 auto;
    }

}


@media only screen and (min-width: 1200px) {
}