/** PAGE - UITVAARTBEGELEIDERS-----------------------------------------**/

#body_uitvaartbegeleiders {
    #pagecontent {
        #pagebody>h1 {
            display: none;
        }
        .custom_content>div {
            >.container {
                // padding-left: 15px;
                // padding-right: 15px;
            }
        }
    }
    #mid {
        padding: 0px;
        margin-top: 85px;
    }
}

@media only screen and (min-width: 768px) {
    #body_uitvaartbegeleiders {
        h1 {
            font-size: 42px;
        }
    }
}

@media only screen and (min-width: 992px) {
    #body_uitvaartbegeleiders {
        #mid {
            margin-top: 0px;
        }
        h1 {
            font-size: 52px;
            margin-left: 15px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #body_uitvaartbegeleiders {
        h1 {
            margin-left: 30px;
        }
    }
}