/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13-apr-2016, 15:14:19
    Author     : wesley
*/

.icon-user:after {
    content: 'a' !important;
    font-family: kcicons;
    /*color: #000;*/
}

#body_design .crumb-mobile {
    top: 0!important;
}

#body_edit #nav_buttons {
    height: 74px;
}

#chooseside.double_portrait {
    bottom: -5px;
}

#chooseside .double_landscape_p1 {
    background: url(/img/gfx/new/icon_double_landscape_p1.png) no-repeat;
    height: 40px;
    width: 66px;
}

#chooseside .double_landscape_p2 {
    background: url(/img/gfx/new/icon_double_landscape_p3.png) no-repeat;
    height: 50px;
    width: 69px;
}

#chooseside .double_landscape_p3 {
    background: url(/img/gfx/new/icon_double_landscape_p2.png) no-repeat;
    height: 50px;
    width: 69px;
}

#chooseside .double_landscape_p4 {
    background: url(/img/gfx/new/icon_double_landscape_p4.png) no-repeat;
    height: 40px;
    width: 66px;
}

#chooseside .double_portrait_p1 {
    background-image: url(/img/gfx/new/icon_double_portrait_p1.png);
    width: 52px;
    height: 66px;
}

#chooseside .double_portrait_p2 {
    background-image: url(/img/gfx/new/icon_double_portrait_p2.png);
    width: 60px;
    height: 74px;
}

#chooseside .double_portrait_p3 {
    background-image: url(/img/gfx/new/icon_double_portrait_p3.png);
    width: 60px;
    height: 74px;
}

#chooseside .double_portrait_p4 {
    background-image: url(/img/gfx/new/icon_double_portrait_p4.png);
    width: 52px;
    height: 66px;
}

#chooseside .single_landscape_p1 {
    background: url(/img/gfx/new/icon_single_landscape_p1.png) no-repeat;
    height: 50px;
    width: 68px;
}

#chooseside label.selected .single_landscape_p1, #chooseside label.selected .single_landscape_p2 {
    background-position: 0 0px;
}

#chooseside .single_landscape_p2 {
    background: url(/img/gfx/new/icon_single_landscape_p1.png) no-repeat;
    height: 50px;
    width: 68px;
}

#chooseside .single_square_p1, #chooseside .single_square_p2 {
    background: url(/img/gfx/new/icon_single_square_p1.png) no-repeat;
    height: 52px;
    width: 47px;
}

#chooseside label.selected .single_square_p1, #chooseside label.selected .single_square_p2 {
    background-position: 0 0px;
}

#chooseside .double_square_p1 {
    background: url(/img/gfx/new/icon_double_square_p1.png) no-repeat;
    width: 40px;
    height: 50px;
}

#chooseside .double_square_p2 {
    background: url(/img/gfx/new/icon_double_square_p2.png) no-repeat;
    width: 58px;
    height: 50px;
}

#chooseside .double_square_p3 {
    background: url(/img/gfx/new/icon_double_square_p3.png) no-repeat;
    width: 49px;
    height: 50px;
}

#chooseside .double_square_p4 {
    background: url(/img/gfx/new/icon_double_square_p4.png) no-repeat;
    width: 40px;
    height: 50px;
}

#chooseside.single_portrait {
    position: absolute;
    font-size: 0;
    left: 212px;
    bottom: -6px;
}

#chooseside .single_portrait_p1, #chooseside .single_portrait_p2 {
    background-image: url(/img/gfx/new/icon_single_portrait_p1.png);
    width: 52px;
    height: 74px;
}

#body_account #template-fluid .cols div:nth-child(3), #body_account #template-fluid .cols div:nth-child(5) {
    display: none;
}

#body_account_password #template-fluid .cols li:nth-child(4), #body_account_password #template-fluid .cols li:nth-child(6),
#body_account_settings #template-fluid .cols li:nth-child(4), #body_account_settings #template-fluid .cols li:nth-child(6),
#body_account_address #template-fluid .cols li:nth-child(4), #body_account_address #template-fluid .cols li:nth-child(6),
#body_account_nieuwsbrief #template-fluid .cols li:nth-child(4), #body_account_nieuwsbrief #template-fluid .cols li:nth-child(6),
#body_account_orders .cols li:nth-child(4), #body_account_orders .cols li:nth-child(6) {
    display: none;
}

#position_photo_tofront .ui-button-text {
    background: url(/img/sprites-editor.png) no-repeat !important;
    background-position: 0 -350px !important;
    width: 30px;
    height: 25px !important;
}

#position_photo_tofront .ui-button-text:hover {
    background-position: -50px -350px !important;
    background-color: transparent !important;
}

#position_photo_toback .ui-button-text {
    background: url(/img/sprites-editor.png) no-repeat !important;
    background-position: 0 -400px !important;
    width: 30px;
    height: 25px !important;
}

#position_photo_toback .ui-button-text:hover {
    background-position: -51px -400px !important;
    background-color: transparent !important;
}

#position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img {
    display: none;
}

#body_login .button {
    margin-top: 20px;
    margin-bottom: 30px;
}

#body_login .cols .sm-6 div:nth-child(4) h2 {
    clear: both;
    margin-top: 70px;
    display: block;
}

#body_login input {
    margin-bottom: 10px;
}

#login_nieuwbrief {
    font-size: 14px;
}

#body_edit #clipartlist .content {
    padding-left: 0px !important;
}

#body_category p {
    clear: both;
}

.field-input {
    margin-bottom: 15px !important;
}

#body_edit input.sp-input {
    padding: 5px;
}

@media screen and (max-width: 767px) {
    .visual {
        position: relative;
        padding: 86px 0 0;
        text-align: center;
        min-height: 346px;
        background: url(/img/banner-stijlvolle-tablet-2016.png) top center no-repeat #fff;
        background-size: auto 340px;
        position: relative;
        display: block;
        overflow: hidden;
    }

    .visual p {
        color: #000;
    }

    .visual:before {
        content: ' ';
        display: block;
        background: url(/img/stijlvolle-trouwkaarten-logo.svg) top center no-repeat #fff;
        background-size: 130px auto;
        position: absolute;
        top: 0;
        width: 100%;
        height: 55px;
    }


}

@media only screen and (min-width: 992px) {
    .navbar .logo {
        background-color: #fff;
        text-align: center;
        margin: 0;
    }

    #visual-content {
        margin-top: 175px;
    }
}

#body_trouwfacts2016 hr {
    border: none;
    height: 1px;
    background-color: #e2dbd7;
    margin: 15px 0 15px;
    clear: both;
}

#body_trouwfacts2016 #sidebar {
    display: none;
}

#body_trouwfacts2016 #pagecontent {
    float: none;
    margin: auto;
}

#footer {
    padding: 34px 0 0 0;
}

#footer .copyright {
    padding: 21px 0 30px 0;
}

#footer .rich-snippets {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}

#footer .rich-snippets img {
    margin-top: -6px;
    margin-left: 6px;
}

@media screen and (min-width: 768px){
    .visual {
        background: url(/img/banner-stijlvolle-tablet-2016.png) top center/cover no-repeat #fff;
    }

    .visual p {
        color: #000;
    }
}

@media screen and (min-width: 992px) {
    .visual {
        background: url("/img/banner-trouwkaarten-blauw.jpg") bottom center/cover no-repeat #fff;
    }

    .visual p {
        color: #000;
    }
}

/*title jumps to card description*/
@media only screen and (max-width: 494px) {
    body#body_design #card-info-left h1 {
        color: #403c3d;
        font-size: 13px !important;
        font-family: droid_serifregular, Serif !important;
        line-height: 27px;
    }
}

.modal * {
    font-family: droid_serifregular !important;
}

.modal .icon {
    font-family: kcicons !important;
}

.modal h2 {
    font-weight: normal !important;
    font-style: normal !important;
}

#body_design .enlarge-card-modal-title {
    text-transform: uppercase;
    font-size: 20px;
}

.modal .modal-button-success {
    background-color: #beb0a7 !important;
    color: #ffffff !important;
    border: 0px !important;
    padding: 10px 24px !important;
    font-size: 16px !important;
    line-height: 1.3333333 !important;
    border-radius: 2px !important;
    margin-bottom: 0px !important;
}

.modal .modal-button-success:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 2px;
}

.modal a {
    color: #da7d8f !important;
}

.modal a:hover {
    color: #beb0a7 !important;
}

.floating-login .modal-list li i {
    color: #da7d8f !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f6f4 inset;
}

#body_eigen_collectie #verzend_form {
    float: left !important;
    width: 100%;
    margin-bottom: 30px;
}

#body_eigen_collectie #verzend_form div:first-child {
    float: left !important;
    width: 100%;
}

#body_eigen_collectie #verzend_form .cols {
    width: 100%;
}

@media screen and (min-width: 0px){
    #body_eigen_collectie #verzend_form div .cols div.xs-6 {
        width: 50%;
        display: inline-block;
    }
}

@media screen and (min-width: 480px) {
    #body_eigen_collectie #verzend_form div .cols div.xsm-4 {
        width: 33.333%;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    #body_eigen_collectie #verzend_form div .cols div.sm-3 {
        width: 25%;
        display: inline-block;
    }
}

@media screen and (min-width: 992px) {
    #body_eigen_collectie #verzend_form div .cols div.md-3 {
        width: 25%;
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    #body_eigen_collectie #verzend_form div .cols div.lg-3 {
        width: 25%;
        display: inline-block;
    }
}

@media screen and (min-width: 1600px) {
}

/* Mobiele editor */
@media screen and (max-width: 767px) {
    #body_edit .ed-header-left li:before,
    #body_edit .ed-header-right li:before,
    #body_edit .ed-footer-top li:before,
    #body_edit .ed-footer-bottom li:before,
    #body_voorbeeld .ed-header-left li:before,
    #body_voorbeeld .ed-header-right li:before,
    #body_voorbeeld .ed-footer-top li:before,
    #body_voorbeeld .ed-footer-bottom li:before,
    #body_eigen_collectie .ed-header-left li:before,
    #body_eigen_collectie .ed-header-right li:before,
    #body_eigen_collectie .ed-footer-top li:before,
    #body_eigen_collectie .ed-footer-bottom li:before {
        display: none;
    }

    #body_edit #ed-side-label,
    #body_voorbeeld #ed-side-label,
    #body_eigen_collectie #ed-side-label {
        line-height: 20px;
    }

    #body_edit .ed-content {
        position: relative;
        top: 0;
        bottom: 0;
    }

    #body_edit #wrapper #pagecontent,
    #body_voorbeeld #wrapper #pagecontent,
    #body_eigen_collectie #wrapper #pagecontent {
        padding: 0;
    }

    #body_voorbeeld .choice_center h1 {
        margin-top: 10px;
    }

    #body_edit #texttable .ed-button {
        font-family: 'HelveticaNeue-Light', 'Arial narrow', sans-serif;
    }

    #body_edit #txt_select .sp-preview .sp-preview-inner {
        padding-top: 3px;
    }

    #body_edit #texttable tr td,
    #body_edit .edittable,
    #body_edit .edittable tr td {
        border: none;
    }
}

#body_eigen_collectie #verzend_form div .namecard {
    display: block;
}

#body_eigen_collectie .eigen_trash_icon:hover, .eigen_trash_icon {
     margin-left: 0px;
     margin-top: 0px;
}

/* Nieuwe designpage - augustus 2016 */

#body_design .open_calculator i {
    color: #e1a09a;
}

#body_design #enlarge-card .modal-header {
    text-align: center;
}

#body_design #enlarge-card .modal-body .mod-edit-button {
    background-color: #beb0a7;
    border-radius: 4px;
}
#body_design #enlarge-card .modal-body .mod-edit-button a {
    color: #fff !important;
    text-transform: none;
}

#body_design #enlarge-card .modal-body .next-preview {
    background-color: #beb0a7;
    color: #fff;
}

#body_design #enlarge-card .modal-body .prev-preview {
    background-color: #beb0a7;
    color: #fff;
}

#body_design .box-body h1 {
    text-transform: none;
    font-style: italic;
}

#body_design .box-body #choose_preview {
    width: auto;
}

#body_design .box-body .add_to_collection {
    border-color: #dedbd4;
}

#body_design .box-footer .desUsp {
    background-color: #faf4f4;
    padding: 13px 20px;
    border-radius: 2px;
    font-size: 13px;
}

#body_design .open_calculator {
    border-color: #dedbd4 !important;
    padding: 7px 8px !important;
}

#body_design .open_calculator .openPrijsCalculator {
    color: #da7d8f;
    text-transform: none !important;
    font-size: 16px !important;
}

#body_design .open_calculator .openPrijsCalculator:hover {
    color: #beb0a7;
}

#body_design .envview span {
    margin-top: 0px;
}

#body_design .envpreview span {
    margin-top: 5px;
}
#body_design .zoomcard .card-zoom,
#body_design .zoomcard .zoom-text {
    margin-top: 0px;
}

#body_design #card_price_info table,
#body_design #card_price_info table th {
    padding: 0px;
}

#body_design #card_price_info table td {
    padding: 5px;
}

#body_design #card_price_info table td.priceInfoTd {
    padding: 0px;
}

#body_design #card_price_info table .priceHover > table,
#body_design #card_price_info table .priceHover > table td {
    border: none;
}

#body_design .box-body .proefDrukPrijs {
    color: #da7d8f;
    margin: 0px;
}

#body_design table.prijsOf {
    border: none;
}

#body_design table.prijsOf td {
    border: none;
    padding: 5px 10px 5px 0px;
    position: relative;
}

#body_design table.prijsOf td.priceInfoTd:before {
    color: #beb0a7;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover{
    display:none;
    z-index:500;
    padding:15px;
    background:#fff;
    position:absolute;
    top:10px;
    right: 10px;
    width:270px;
    -webkit-box-shadow:0 0 5px 0 #575757;
    box-shadow:0 0 5px 0 #575757
}
#body_design table.prijsOf td.priceInfoTd:hover div.priceHover{
    display: block;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName{
    width:220px;
}
#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice{
    width:150px;
}
#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after{
    content:' p/st';
    vertical-align:top;
}

#body_design table.prijsOf td.priceInfoTd:before {
    font-family: kcicons;
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
}

#body_design .priceHover {
    display: none;
}

#body_design .priceHover table {
    border: none;
}

#body_design .design-content .container {
    overflow: visible;
}

.navbar .topbar-menu-right>ul>li a div[class*="icon"]:after {
    width: 16px;
    height: 16px;
}

@media only screen and (min-width: 992px) {
    .navbar .topbar .topbar-menu-right>ul>li a .icon-help {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .navbar .topbar .topbar-menu-right>ul>li a.hulp:active,
    .navbar .topbar .topbar-menu-right>ul>li a.hulp:visited,
    .navbar .topbar .topbar-menu-right>ul>li a.hulp:focus,
    .navbar .topbar .topbar-menu-right>ul>li a[href*="javascript:void(0);"] {
        color: #fff!important;
    }

    .navbar .topbar .topbar-menu-right>ul>li a {
        padding-top: 3px;
    }

    .navbar .topbar .topbar-menu-right>ul>li a i {
        font-size: 14px;
    }

    .navbar .topbar .topbar-menu-right>ul>li a .icon-info {
        margin-top: 3px;
    }

    .navbar .topbar .topbar-menu-right>ul>li a .icon-user {
        font-size: 15px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 768px) {
    .filCTA {
        display: none !important;
    }

    .open_mobile_filter:before {
        color: #fff;
    }

}

@media screen and (max-width: 540px) {
    #body_trouwkaarten .button-content .button {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
  #filter_cards {
    display: none;
  }

  .open_mobile_filter {
    display: block;
    height: 50px;
    margin-top: 75px;
    clear: both;
  }
}

@media only screen and (max-width: 992px) {
    .navbar .topbar .topbar-menu-right>ul>li a .icon-help {
        display: none;
        margin-top: -4px;
        margin-left: 4px;
        font-size: 14px;
        line-height: 13px;
        background: transparent;
        position: relative;
        font-weight: bold;
    }

    .navbar .topbar .topbar-menu-right>ul>li a .icon-help:before {
        content: "";
        width: 16px;
        height: 16px;
        background-color: #403C3D;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

.background-h2 {
    position: relative;
    float: left;
    background-color: #f7f6f4;
    width: 100%;
    padding: 14px 0 0 0;
    margin-bottom: 20px;
}
#body_account .cols-multi .lg-4:nth-child(3n+4) {
    clear: none;
}

#body_404error .custom_content img {
    max-width: 100%;
    height: auto !important;
}

.cols {
    clear: both;
}

/** FIX TEMPLATE ------------------------ **/

@media (max-width: 767px) {
    #page_edit_nav_new {
        display: none;
    }
}
