/** BLOCK - BLUE-BAR -----------------------------------------**/

.blue-bar {
    background-color: rgba(146, 194, 201, 0.4);
    border-top: #92c2c9 1px solid;
    border-bottom: #92c2c9 1px solid;
    padding: 20px 0;

    h3 {
    	font-size: 24px; 
    	margin: 10px; 
    }
    h3,
    a {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}