/** BLOCK - BUTTON -----------------------------------------**/

.button {
    transition: color 0.3s, border-color 0.3s, background-color 0.1s;
    border-radius: 6px;
    font-family: $mainFont;
    i:after {
        transition: margin 0.3s;
    }
    &:hover {
        i:after {
            margin-left: 5px;
            margin-right: -5px;
        }
    }
}



.button-100 {
    width: 100%;
}

.button-salmon {
    color: $white;
    background-color: $salmon;
    border-color: $salmon;
    &:hover {
        color: $salmon;
        background-color: $white;
    }
}
.button-salmon-reversed {
    color: $salmon;
    background-color: $white;
    border-color: $salmon;
    &:hover {
        color: $white;
        background-color: $salmon;
    }
}




@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}