/** BLOCK - COMPANIES -----------------------------------------**/

.companies {
    background-color: rgba(146, 194, 201, 0.03);
    border-top: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
    padding: 20px 0;
    text-align: center;
    h2 {
        font-size: 32px; 
        color: #92c2c9;
    }
    img {
        height: 140px; 
        width: auto;
        
    }

}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}