/** BLOCK - CONTAINER -----------------------------------------**/


#pagebody .custom_content > div > .container, #pagebody .custom_content > div > .container-fluid {
	padding-top: 60px;
	padding-bottom: 60px;
	&.container-pb-0 {
		padding-bottom: 0;
	}
	&.container-pt-0 {
		padding-top: 0;
	}
}



@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
