/** BLOCK - FILTER -----------------------------------------**/

.navbar .middlebar ul.middlebar-menu-right li {
    margin-left: 0px;
}

#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    content: none;
}

@media screen and (min-width: 992px) {
    #filter_menu #taggroupul-kleur .custom_checkbox,
    #filter_menu #taggroupul-kleuren .custom_checkbox {
        margin: -4px 0px;
    }
}

@media screen and (min-width: 992px) {
    .middlebar,
    .container,
    .collapse {
        background: none !important;
    }
    #filter_menu #taggroupul-kleur .tag-li label,
    #filter_menu #taggroupul-kleuren .tag-li label {
        border: 0px;
    }
    .tag-group-ul>li>ul.show {
        margin-left: 4px;
    }
    #filter_menu li.tag-li .custom_checkbox {
        vertical-align: text-bottom;
    }
}








@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}