/** BLOCKS - FOOTER ******************************/


footer .list-item {
    margin: 0;
}
footer .list-item .item:first-child,
footer .list-item .item {
    width: 100%;
}

footer .list-item .item .sub-item {
    width: 100%;
}




footer .block-bank {
    padding: 30px 0;
    font-size: 22px;
    color: #312783;
    font-weight: 700;
    background: #FCFCFC;
}
@media screen and (min-width: 480px) {
    footer .list-item .item:first-child,
    footer .list-item .item {
        width: 49.9%;
    }
}

@media screen and (min-width: 768px) {
    footer .list-item .item:first-child,
    footer .list-item .item {
        width: 24.9%;
    }
}

