/** BLOCK - FULLIMAGE-TEXT-SPLIT -----------------------------------------**/

#pagebody .custom_content > div > .container-fluid.fullimage-text-split {
    padding: 0px;
    >.cols {
        border-top: 1px solid $greyLighter;
        border-bottom: 1px solid $greyLighter;
        background: $greyLightest;
    }
    .fullimage-text-split--image {
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 -15px;
        &.image-left {
            background-position: right center;
        }
        &.image-right {
            background-position: left center;
        }
    }
    .fullimage-text-split--text {
        padding: 15px 15px;
        text-align: center;
    }
    &.fullimage-text-split--uo-usp {
        border-top: 1px solid $greyLighter;
        border-bottom: 1px solid $greyLighter;
        background-color: #f8fbfc;
        >.cols {
            border-top: none;
            border-bottom: none;
            background-color: transparent;
        }
        .fullimage-text-split--text {
            text-align: left;
            padding: 15px 15px;
        }
    }
    &.fullimage-text-split--contact {
        border-top: 1px solid $greyLighter;
        border-bottom: none;
        .fullimage-text-split--text {
            padding: 60px 15px;
        }
        >.cols {
            border-top: none;
            border-bottom: none;
            background-color: transparent;
        }
    }
    &.fullimage-text-split--direct-send {
        border-top: 1px solid $greyLighter;
        border-bottom: 1px solid $greyLighter;
        >.cols {
            border-top: none;
            border-bottom: none;
            background-color: transparent;
        }
        .fullimage-text-split--text {
            text-align: left;
        }
    }
}




@media only screen and (min-width: 768px) {
    #pagebody .custom_content > div > .container-fluid.fullimage-text-split {
        h2 {
            font-size: 44px;
            line-height: 1.3em;
        }
        .fullimage-text-split--text {
            padding: 75px 50px;
            text-align: left;
        }
    }
}

@media only screen and (min-width: 992px) {
    #pagebody .custom_content > div > .container-fluid.fullimage-text-split {
        &.fullimage-text-split--uo-usp {
            border-top: none;
            border-bottom: none;
            background-color: transparent;
        }
        &.fullimage-text-split--direct-send {
            border-top: none;
            border-bottom: none;
            background-color: transparent;
        }
        &.fullimage-text-split--contact {
            border-top: none;
            border-bottom: none;
            background-color: transparent;
        }
    }
}


@media only screen and (min-width: 1200px) {

    #pagebody .custom_content > div > .container-fluid.fullimage-text-split {
        .fullimage-text-split--text {
            max-width: 600px;
        }
        .cols div:first-child .fullimage-text-split--text {
            margin-left: calc(100% - 600px);
        }
        &.fullimage-text-split--uo-usp {
            .fullimage-text-split--text {
                padding: 15px 50px 60px 50px;
            }
        }
    }
}