/** BLOCK - HOME-USP -----------------------------------------**/

.home-usp-block {
    margin: 0;
    width: 100%;
    line-height: 1.2em;
    li {
        display: block;
        list-style-position: inside;
        font-size: 90%;
        padding: 0 0 10px 30px;
        i {
            color: $salmon;
            margin: 0 10px 0 -28px;
        }
    }
}






@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}