/** BLOCK - NAVBAR -----------------------------------------**/



.navbar .topbar .topbar-menu-left a:hover {
    color: #989696;
}

.navbar .navbar-hamburger {
    margin-left: 10px;
    .icon-bar {
        background-color: #404040;
    }
}

.navbar .middlebar ul.middlebar-menu-right>li>a:hover {
    color: #989696;
}

.navbar .middlebar .sForm {

    position: relative;
    width: 100%;
    padding: 3px;
}

.navbar .middlebar ul.middlebar-menu-right>li>a {
    font-size: 17px;
    font-weight: 700;
    font-family: museo_sans300;
    line-height: 17px;
    color: #333433;
    padding-left: 22px;
    padding-right: 22px;
}

.navbar .topbar .dropdown>a:after {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar .middlebar {
        position: absolute;
        right: 350px;
        width: 200px;
        top: 9px;
        .sForm {
            width: 180px;
            padding: 0px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .navbar .topbar .topbar-menu-right>ul>li a {
        padding: 2px 5px;
    }
    .navbar .topbar .dropdown>a:after {
        display: inline-block;
    }

    .navbar .middlebar {
        top: 40px;
        width: 100%;
        right: 0;
    }
    .navbar .middlebar .sForm {
        display: none;
    }

    .navbar .middlebar ul.middlebar-menu-right .dropdown>ul {
        width: 250px;
        box-shadow: 2px 2px 3px #ddd;
        background-color: #fff;
        width: 250px;
        border: 1px solid #e0e0e0;
        >li {
            border-bottom: none;
            a {
                color: #989696;
                font-family: museo_sans300;
                font-size: 17px;
                padding: 15px 10px;
                background-color: transparent;
            }
        }
    }
}


@media only screen and (min-width: 1200px) {

    .navbar .middlebar .sForm {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 20px;
    }
}