/** BLOCK - RATING -----------------------------------------**/

#pagebody .custom_content > div > .container.home-rating {
	border-top: 1px solid $greyLighter;
	border-bottom: 1px solid $greyLighter;
	padding: 20px 0;
}

.rating {
    .rating--number {
        border: $purple 1px solid;
        background: $purple;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        font-size: 41px;
        font-family: $titleFont;
        color: $white;
        line-height: 80px;
        text-align: center;
        margin: 0px 10px;
        float: left;
    }

    h3 {
        font-size: 18px !important;
        margin: 0px;
        padding: 11px 0px;
        font-family: $mainFontStrong;
        color: $mainTextColor;
    }

    .rating--stars i {
        font-size: 25px;
        letter-spacing: 0px;
        color: #ffd229;
    }
}

.rating--quote {
    font-size: 18px;
    font-style: italic;
    line-height: 1.56;
    color: $greyDark;
    margin: 0;
}

@media screen and (min-width: 768px) {
    #body_home-new .rating {
        padding: 0 10%;
    }
}


@media only screen and (min-width: 992px) {}