/** BLOCK - TAG-SCROLLER -----------------------------------------**/


#tag-scroller-prev, #tag-scroller-next {
	cursor: pointer;
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
