/** BLOCK - TEXT-CONTAINER-----------------------------------------**/



.text-container {
	font-size: 16px;
	line-height: 1.5em;
	p {
		margin-bottom: 30px; 
	}
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
