/** BLOCK - THUMBNAIL  -----------------------------------------**/

.thumbnail {
    .thumbnail-footer {
        h3 {
            font-family: $mainFontMedium;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.38;
            text-align: center;
            color: #404040;
        }
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}