/** BLOCK - UO-QUOTES -----------------------------------------**/

.uo-quotes {
    text-align: center;
    h2 {
        font-size: 40px;
        color: #92c2c9;
        margin-bottom: 20px;
    }
    p {
        font-size: 15px;
        line-height: 1.4em;
        font-style: italic;
        &.quote-name {
            color: #999;
        }
    }
    img {
        margin: 10px;
        width: 100px; 
    }
}


@media only screen and (min-width: 480px) {
    .uo-quotes {
        h2 {
            font-size: 48px;
        }
        img {
            float: left;
            margin: 0 10px 20px 0;
        }
        p {
            text-align: left; 
        }
    }
}

@media only screen and (min-width: 768px) {
    .uo-quotes {
        h2 {
            font-size: 48px;
        }
    }
}

@media only screen and (min-width: 992px) {}