/** BLOCK - VISUAL -----------------------------------------**/

.visual {
    overflow: visible;
    margin-top: 88px;
    margin-bottom: 60px;
    display: block;
    padding: 45px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .visual__title {
        color: $purple;
        margin-bottom: 40px;
        font-size: 38px;
        text-align: center;
    }

    .visual__subtitle {
        color: $purple;
        font-size: 1.5em;
        margin-bottom: 40px;
    }
    .visual__banners {
        max-width: 200px;
        margin: 0 auto;
        .visual__banner {
            width: 100%;
            cursor: pointer;
            position: relative;
            background-color: rgba(255, 255, 255, 1);
            text-align: center;
            margin: 0 0 30px 0;
            box-shadow: 0 5px 15px 0 rgba(50, 50, 50, 0.5);
            img {
                width: 100%;
            }
            h2 {
                position: absolute;
                top: 15px;
                left: 0px;
                right: 0px;
                padding: 0 10px;
                font-size: 30px;
                font-style: italic;
                line-height: 1.13;
                text-align: center;
                color: #92c2c9;
            }
            .visual__banner-footer {
                width: 100%;
                h3 {
                    color: $mainTextColor;
                    font-family: museo_sans300;
                    font-size: 18px;
                    line-height: 32px;
                    background-color: #fff;
                    margin: 0;
                    padding: 10px 0;
                }
            }
        }
    }
    .visual__bottom {
        position: absolute;
        bottom: -56px;
        left: 0;
        width: 100%;
        font-size: 16px;
        line-height: 1.5em;
        background: $greyLightest;
        border-top: 1px solid $greyLight;
        border-bottom: 1px solid $greyLight;
        padding: 15px 15px;
        span {
            display: block;
            i {
                vertical-align: middle;
                padding: 0 5px;
            }
        }
    }
}




@media screen and (min-width: 480px) {
    .visual {
        .visual__banners {
            max-width: 500px;
            .visual__banner {
                display: block;
            }
        }
        .visual__title {
            font-size: 42px;
        }
        .visual__banners-mobile {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .visual {
        padding: 45px 15px;

        margin-top: 60px;
        .visual__banners {
            max-width: initial;
            margin: 0 -15px;
        }
        .visual__title {
            text-align: left;
        }
        .visual__subtitle {
            margin-bottom: 60px;
        }
        .visual__bottom {
            span {
                display: inline-block;
                padding: 0 15px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .visual {
        margin-top: 0px;
        .visual__title {
            font-size: 60px;
            margin: 30px 0px
        }
        .visual__banner {
            margin: 0 15px 60px 15px;
            width: calc(100% - 30px);
        }
        .visual__bottom {
            bottom: -60px;
            font-size: 20px;
            line-height: 1.4em;
            padding: 15px 20px;
            span {}
        }
    }
}